<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<!-- <ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>
    <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo"> 
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li>
      <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>   
</ul>
</ion-toolbar>
-->
<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    
 <!--  <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >
        {{loginLabel}}
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='Admin' || accountType=='SuperAdmin'" routerLink="/admin-page" >
          <ion-icon name="podium"></ion-icon>&nbsp; Admin
        </ion-button>
      </ion-buttons>
      
    </ion-title>-->
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()" class="hidden-sm-down" >
        {{loginLabel}}
      </ion-button>
      <ion-menu-button autoHide="false" class="hidden-sm-up"></ion-menu-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" routerLink="/home" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home" class="hidden-sm-down">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='10' || accountType=='11'" routerLink="/admin-page" class="hidden-sm-down">
          <ion-icon name="podium"></ion-icon>&nbsp; Admin 
        </ion-button>
      </ion-buttons>
      
    </ion-title> 
     <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background" no-scroll padding >

<ion-radio-group color="dark" *ngIf="!viewFeedInfo" slot="fixed" style="width:20%;margin-top:2%;margin-left:2%;" value="feed" class="hidden-sm-down">
  <ion-row>
    <ion-item color="dark" (click)="displayFeed()" style="width:100%;--border-radius:27px;" >
      <ion-label>Public Feed</ion-label>
      <ion-radio  value="feed" ></ion-radio>
    </ion-item>
    <ion-item color="dark"  (click)="displayDiveCenters()" style="width:100%;--border-radius:27px;margin-top:8px;">
      <ion-label>Dive Centres</ion-label>
      <ion-radio value="centers"></ion-radio>
    </ion-item>
    <ion-item color="dark"  (click)="displayDiveSites()" style="width:100%;--border-radius:27px;margin-top:8px;">
      <ion-label>Dive Sites</ion-label>
      <ion-radio value="sites" ></ion-radio>
    </ion-item>
</ion-row>
</ion-radio-group> 

<!-- value="feed"  -->
<ion-radio-group color="dark" slot="fixed" value={{_globalService.activeExploreFeed}}  class="hidden-sm-up">
  <ion-row>
    <ion-col size="4">
      <ion-item color="dark" (click)="displayFeed()" style="display:inline;" >
        <ion-label>Public <br> Feed</ion-label>
        <ion-radio  value="feed" ></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item color="dark"  (click)="displayDiveCenters()" style="display:inline;">
        <ion-label>Dive <br> Centres</ion-label>
        <ion-radio value="centers"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item color="dark"  (click)="displayDiveSites()" style="display:inline;">
        <ion-label>Dive <br> Sites</ion-label>
        <ion-radio value="sites" ></ion-radio>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-radio-group>

<!-- <ion-grid *ngIf="viewFeedInfo">
  <ion-row >
    <div class="infoImg"></div>
  </ion-row>
</ion-grid>  -->

<!-- <ion-content color='dark'  overflow-scroll="true" *ngIf="viewFeedInfo" style="width:100%;height:550px; padding: 10% !important;margin-left:25% !important;">
  <video controls="controls" width="100%" preload="metadata" autoplay="autoplay" loop webkit-playsinline="webkit-playsinline" class="videoPlayer">
   <source src="../assets/video/info-Feed.mp4" type="video/mp4" />
  </video>
</ion-content>  -->

<ion-grid class="contentContainer" *ngIf='showFeed'>
  <ion-row>
    <ion-col size="12" size-lg="3" offset-lg="9" class="hidden-sm-down">
      <!--<ion-button color="dark" *ngIf="!viewFeedInfo" (click)="viewFeedInfo = !viewFeedInfo"  style="float:right;--border-radius:3%;width:100px;height:40px;">
        <ion-icon name="information-circle" ></ion-icon>&nbsp; Help
      </ion-button>
       <ion-button color="success" *ngIf="viewFeedInfo" (click)="viewFeedInfo = !viewFeedInfo"  style="float:right;--border-radius:3%;width:100%;height:40px;">
        <ion-icon name="checkmark-circle"></ion-icon>&nbsp; Return to feed 
      </ion-button> -->
      <ion-button color="dark"  (click)='presentGeneralAlert("See Community Dives Here!","Hover over the card to see more information")'  style="float:right;--border-radius:3%;width:100px;height:40px;">
        <ion-icon name="information-circle" ></ion-icon>&nbsp; Help
      </ion-button>
    </ion-col>
    <ion-col size="12" size-lg="3" offset-lg="9" class="hidden-sm-up" >
      <ion-button color="dark"  (click)='presentGeneralAlert("See Community Dives Here!","Click on the card to see more information")'  style="float:right;--border-radius:3%;width:100px;height:40px;">
        <ion-icon name="information-circle" ></ion-icon>&nbsp; Help
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!viewFeedInfo">
    <ng-container *ngIf="pubLst.length>1"> 
      <ion-col *ngFor="let d of pubLst;  index as i; " style="margin:0;" >
          <div *ngIf="d!==undefined" class="thecard" >
            <div class="thefront">
              <ion-card color = "light" >
                <img class="cardFeedIMG" src={{d.DiveImage}} />
                  <ion-card-content>
                  <ion-card-title>
                      {{d.FirstName}} {{d.LastName}}
                    </ion-card-title>
                  <p>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          {{d.DiveSite}}  <br>
                          {{d.DiveTypeLink}}  <br>
                          {{d.DiveDate}}
                        </ion-col>
                        <div *ngIf='showFeedLoaded'>
                          <img class="weatherIMG" src= "assets/images/Weather/{{pubLst[i].Weather[2]}}.png">
                        </div>
                      </ion-row>
                    </ion-grid>
                  </p>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="theback">
              <ion-card color="light">
                  <ion-card-content>
                    <ion-item-divider color="medium" >
                      <ion-card-title color="dark">
                        {{d.FirstName}} {{d.LastName}} 
                      </ion-card-title>
                    </ion-item-divider>
                    <ion-item-divider color="light">
                      <b class="WeatherDescriptionCard" >{{d.Weather[2].toUpperCase()}} </b> 
                      <img class="weatherIMG" src= "assets/images/Weather/{{pubLst[i].Weather[2]}}.png"/>
                    </ion-item-divider>
                    <p style="padding-left: 20px;">
                      Wind:                         {{d.Weather[0]}} <br>
                      Moon Phase:                   {{d.Weather[1]}} <br><br>
    
                    <b class="WeatherDescriptionCard">Site:</b> {{d.DiveSite}} <br>
                      <b class="WeatherDescriptionCard">Type:</b> {{d.DiveTypeLink}} <br>
                      <b class="WeatherDescriptionCard">Date:</b> {{d.DiveDate}} <br>
                      <b class="WeatherDescriptionCard">Duration:</b> {{d.TimeIn}} - {{d.TimeOut}} <br>
                      <b class="WeatherDescriptionCard" *ngIf="d.Buddy != '' ">Buddy:</b> 
                                  <label *ngIf='d.Buddy.indexOf("(") != -1'>&nbsp; {{d.Buddy.substring(0, d.Buddy.indexOf("(") -1 )}} </label>
                                  <label *ngIf='d.Buddy.indexOf("(") == -1'>&nbsp; {{d.Buddy}} </label>
                    </p>
                  
                </ion-card-content>
              </ion-card>
            </div>
          </div>
      </ion-col>
    </ng-container>
</ion-row>
<ion-row style="margin-top:30px;margin-bottom: 40px;" *ngIf="pubLst.length>1 && showMoreFeed && !viewFeedInfo">
  <ion-button id="loadMoreBtn" (ionFocus)="loadFeed()" (click)="loadFeed()">
    <ion-icon name="code-download-outline"></ion-icon>
  </ion-button>
</ion-row>
</ion-grid>


    <ion-grid class="contentContainer" *ngIf='showCenters'>
      <ion-row>
        <ion-col *ngFor="let dc of centerLst" style="margin:0;" >
          <div class="thecardDC" >
            <div class="thefront">
              <ion-card color="light">
                 
                <img class="cardFeedIMG" src={{dc.LogoPhoto}} />
                <ion-card-content fixed>
                    <ion-card-title fixed>
                       <label class="DiveCenterName" fixed> {{dc.Name}} </label> 
                       <label class="DiveCenterLocation">{{dc.Location}} </label> <br>
                       <label class="ViewDiveCenterLink" fixed><a (click)="ViewMoreDiveCenter(dc.Name)">View More</a> </label>
                    </ion-card-title>
                </ion-card-content>
                  
              </ion-card>
           </div>
           <!--  <div class="theback">
              <ion-card color="light">
                  <ion-card-content >                   
                    <ion-item-divider color="medium" >
                      <ion-card-title color="light">
                        {{dc.Name}}
                      </ion-card-title>
                    </ion-item-divider>
                    <div style="padding-top: 10px; text-align: left;" class="DiveCenterDescription">
                      {{dc.Description}} 
                    </div>
            
                </ion-card-content>
              </ion-card>
            </div>
            --> 
          </div>  
          
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:30px;margin-bottom: 40px;" *ngIf="showMoreCenters && centerLst.length>0">
      <ion-button id="loadMoreBtn" (click)="loadCenters()">
        <ion-icon name="code-download-outline"></ion-icon>
      </ion-button>
    </ion-row>
    </ion-grid>



<ion-grid class="contentContainer" *ngIf='showSites'>
  <ion-row>
    <ion-col *ngFor='let ds of siteLst' style="margin:0;" >
      <div class="thecardDC" >
        <div class="thefront">
          <ion-card color="light" >
            <img class="cardFeedIMG" src={{ds.LogoPhoto}} />
              <ion-card-content>
                <ion-card-title fixed>
                  <label class="DiveCenterName" fixed> {{ds.Name}} </label> 
                  <label class="DiveCenterLocation">{{ds.Location}} </label><br>
                  <label class="ViewDiveCenterLink" fixed><a (click)="ViewMoreDiveSite(ds.Name)">View More</a> </label>
                </ion-card-title>
              </ion-card-content>
          </ion-card>
        </div>
        <div class="theback">
          <ion-card color="light" >
              <ion-card-content >
                <ion-item-divider color="medium" >
                  <ion-card-title color="light">
                    {{ds.Name}}
                  </ion-card-title>
                </ion-item-divider>
                <div style="padding-top: 10px; text-align: left;" class="DiveCenterDescription">
                  {{ds.Description}} 
                </div>
              
            </ion-card-content>
          </ion-card>
        </div>
     
      </div>
    </ion-col>
</ion-row>
<ion-row style="margin-top:30px;margin-bottom: 40px;" *ngIf="showMoreSites && siteLst.length>0">
  <ion-button id="loadMoreBtn" (click)="loadSites()">
    <ion-icon name="code-download-outline"></ion-icon>
  </ion-button>
</ion-row>
</ion-grid> 


</ion-content>
