<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>
     <li><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/my-dives">My Dives</a></li>
      <li><a routerLink="/weather">Weather</a></li>
      <li><a routerLink="/explore">Explore</a></li>
      <li><a routerLink="/home" >Home</a></li>
</ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >
  <div class="search-container" style="position: fixed;margin-left: 75%;">
    <form action="">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

    <ion-radio-group style="position: fixed;margin-left: 75%; margin-top: 80px;">
      <ion-item>
        <ion-label>Cord</ion-label>
        <ion-radio value="cord"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Duesenberg</ion-label>
        <ion-radio value="duesenberg"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Hudson</ion-label>
        <ion-radio value="hudson"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Packard</ion-label>
        <ion-radio value="packard"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Studebaker</ion-label>
        <ion-radio value="studebaker"></ion-radio>
      </ion-item>
    </ion-radio-group>



  <!--<div class="tableContainer">
  <table id="feed"  >
    <tr>
      <th> Diver</th>
      <th> Location </th>
      <th> Date </th>
      <th> Weather </th>
      <th> Buddy </th>
    </tr>
    <tr *ngFor='let d of pubLst'> 
      <td> {{d.Diver}} </td>
      <td> {{d.Location}} </td>
      <td> {{d.DateOf}}  </td>
      <td> {{d.Weather}}  </td>
      <td> {{d.Buddy}}  </td>
    </tr>
</table>
</div>-->

<!--<ion-list>
  <ion-item *ngFor="let d of pubLst">
    <ion-thumbnail slot="start">
      <ion-img ></ion-img>
    </ion-thumbnail>
    <ion-label>{{  d.Location  }}</ion-label>
  </ion-item>
</ion-list>-->

<div id="classContainer" style="margin-right:30%;margin-left:10%;">
  <ion-item *ngFor="let d of pubLst" style="width:45%; margin: auto;margin-left:1%;display: inline-block;" >
    <ion-card  >
      <img src="../../assets/images/jellyfish.jpg" />
        <ion-card-content>
        <ion-card-title>
            {{d.Diver }}
          </ion-card-title>
        <p>
          {{d.Location}} <br>
          {{d.Weather}}  <br>
          {{d.Buddy}}  <br>
          {{d.DateOf}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>

</ion-content>
