<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>
    <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo"> 
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li>
      <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>   
</ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >

<ion-radio-group color="dark" slot="fixed" style="width:20%;margin-top:2%;margin-left:2%;" >
  <ion-row>
    <ion-item color="dark"  (click)="displayFeed()" style="width:100%;--border-radius:27px;" >
      <ion-label>Public Feed</ion-label>
      <ion-radio value="feed" ></ion-radio>
    </ion-item>

    <ion-item color="dark"  (click)="displayDiveCenters()" style="width:100%;--border-radius:27px;margin-top:8px;">
      <ion-label>Dive Centers</ion-label>
      <ion-radio value="centers"></ion-radio>
    </ion-item>
    <ion-item color="dark"  (click)="displayDiveSites()" style="width:100%;--border-radius:27px;margin-top:8px;">
      <ion-label>Dive Sites</ion-label>
      <ion-radio value="sites" ></ion-radio>
    </ion-item>
</ion-row>
</ion-radio-group>



<ion-grid class="contentContainer" *ngIf='showFeed'>
  <ion-row>
    <ion-col *ngFor="let d of pubLst" style="margin:0;" >
      <div class="thecard" >
        <div class="thefront">
          <ion-card  >
            <img class="cardFeedIMG" src="../../assets/images/DiveSites/{{d.DiveSite}}.jpg" />
              <ion-card-content>
              <ion-card-title>
                  {{d.FirstName}} {{d.LastName}}
                </ion-card-title>
              <p>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{d.DiveSite}}  <br>
                      {{d.DiveType}}  <br>
                      {{d.DiveDate}}
                    </ion-col>
                    <ion-col>
                      <img class="weatherIMG" src="../../assets/images/Weather/{{d.Weather[2]}}.png" />
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="theback">
          <ion-card  >
              <ion-card-content>
              
               
                <ion-item-divider style="--background:rgba(38, 70, 83, 0.5);" >
                  <ion-card-title >
                    {{d.FirstName}} {{d.LastName}}
                  </ion-card-title>
                </ion-item-divider>
                <ion-item-divider >
                   <b class="WeatherDescriptionCard">{{d.Weather[2]}} </b> 
                   <img class="weatherIMG" src="../../assets/images/Weather/{{d.Weather[2]}}.png" />
                </ion-item-divider>
                <p style="padding-left: 20px;">
                  Wind:                         {{d.Weather[0]}} <br>
                  Moon Phase:                   {{d.Weather[1]}} <br><br>

                <b class="WeatherDescriptionCard">Site:</b> {{d.DiveSite}} <br>
                  <b class="WeatherDescriptionCard">Type:</b> {{d.DiveType}} <br>
                  <b class="WeatherDescriptionCard">Date:</b> {{d.DiveDate}} <br>
                  <b class="WeatherDescriptionCard">Time:</b> {{d.TimeIn}} - {{d.TimeOut}} <br>
                  <b class="WeatherDescriptionCard">Buddy:</b> {{d.Buddy.substring(0, d.Buddy.indexOf("(") -1 )}}
                </p>
              
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>
</ion-row>

</ion-grid>


<!--

<div class="tableContainer"  *ngIf='showCenters'>
  <table id="feed"  >
    <tr>
      <th> Dive Centers </th>
    </tr>
    <tr *ngFor='let d of centerLst'> 
      <td> {{d}} </td>
    </tr>
</table>
</div>

-->

    <ion-grid class="contentContainer" *ngIf='showCenters'>
      <ion-row>
        <ion-col *ngFor="let dc of centerLst" style="margin:0;" >
          <div class="thecard" >
            <div class="thefront">
              <ion-card  >
                <img class="cardFeedIMG" src={{dc.LogoPhoto}} />
                  <ion-card-content>
                  <ion-card-title>
                     <label class="DiveCenterName"> {{dc.Name}} </label> 
                     <label class="ViewDiveCenterLink"><a (click)="ViewMoreDiveCenter(dc.Name)">View More</a> </label>
                  </ion-card-title>
                     </ion-card-content>
              </ion-card>
            </div>
            <div class="theback">
              <ion-card >
                  <ion-card-content >
                  
                   
                    <ion-item-divider style="--background:rgba(38, 70, 83, 0.5);" >
                      <ion-card-title >
                        {{dc.Name}}
                      </ion-card-title>
                    </ion-item-divider>
                    <div style="padding-left: 20px;text-align: left;" class="DiveCenterDescription">
                      {{dc.Description}} 
                    </div>
                  
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:30px;margin-bottom: 40px;" *ngIf="showMoreCenters">
      <ion-button id="loadMoreBtn" (click)="loadCenters()">
        <ion-icon name="code-download-outline"></ion-icon>
      </ion-button>
    </ion-row>
    </ion-grid>









<!-- <div class="tableContainer"  *ngIf='showSites'>
  <table id="feed"  >
    <tr>
      <th> Dive Sites </th>
    </tr>
    <tr *ngFor='let d of siteLst'> 
      <td> {{d}} </td>
    </tr>
</table>
</div>  -->


<ion-grid class="contentContainer" *ngIf='showSites'>
  <ion-row>
    <ion-col *ngFor='let ds of siteLst' style="margin:0;" >
      <div class="thecard" >
        <div class="thefront">
          <ion-card  >
            <img class="cardFeedIMG" src="../../assets/images/DiveSites/{{ds.Name}}.jpg" />
              <ion-card-content>
              <ion-card-title>
                 <label class="DiveCenterName"> {{ds.Name}} </label> 
                 <label class="ViewDiveCenterLink"><a (click)="ViewMoreDiveSite(ds.Name)">View More</a> </label>
              </ion-card-title>
                 </ion-card-content>
          </ion-card>
        </div>
        <div class="theback">
          <ion-card >
              <ion-card-content >
              
               
                <ion-item-divider style="--background:rgba(38, 70, 83, 0.5);" >
                  <ion-card-title >
                    {{ds.Name}}
                  </ion-card-title>
                </ion-item-divider>
                <div style="padding-left: 20px;text-align: left;" class="DiveCenterDescription">
                  {{ds.Description}} 
                </div>
              
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-col>
</ion-row>
<ion-row style="margin-top:30px;margin-bottom: 40px;" *ngIf="showMoreSites">
  <ion-button id="loadMoreBtn" (click)="loadSites()">
    <ion-icon name="code-download-outline"></ion-icon>
  </ion-button>
</ion-row>
</ion-grid>



</ion-content>
