<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>


<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >
        {{loginLabel}}
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='Admin' || accountType=='SuperAdmin'" routerLink="/admin-page" >
          <ion-icon name="podium"></ion-icon>&nbsp; Admin
        </ion-button>
      </ion-buttons>
      
    </ion-title>
     <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="background" no-scroll padding >
 


 <div class="newUser" *ngIf="!showChangePassWord">
   <div class="divHeadSection">
    <ion-label id="divHead" >Edit Account</ion-label>
   </div>
    
   <form [formGroup]="userForm" *ngIf="showData">
     <ion-grid>
       <ion-row >
         <ion-col  id="leftPane" size="12" size-sm="12" size-md="12" size-lg="4" >
           <label class="subLabel">Profile Photo</label>
           <div id="profileSurroundDiv">
            <ion-img src={{userObj.ProfilePhoto}} id="userProfile" ></ion-img>
           </div>
              <ion-item color="transparent" lines="none">
                <ion-button expand="full" (click)="f.click()" style="margin:auto;">
                  <ion-icon lazy="true" name="image"></ion-icon>
                  <ion-label slot="end">Change Profile Photo</ion-label>
                </ion-button>
                  <input class="ion-hide" #f type="file" (change)="onFileSelected($event)" id="file-input"
                    accept="image/png, image/jpeg">

               </ion-item>
         </ion-col>
         <ion-col  id="rightPane"  size="12" size-sm="12" size-md="12" size-lg="8">
          <ion-row>
            <ion-col>
              <ion-item color="dark">
                <ion-label  position="floating">First Name         
                  <b *ngIf="!userForm.controls.firstName.valid  && (userForm.controls.firstName.dirty )" class="FormErrorControlMessage">* Please enter a valid name  </b>
                </ion-label>
                <ion-input formControlName="firstName" type="text" value={{userObj.FirstName}} [(ngModel)]="userObj.FirstName"  [class.invalid]="!userForm.controls.firstName.valid && (userForm.controls.firstName.dirty )"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item color="dark">
                <ion-label  position="floating">Last Name
                  <b *ngIf="!userForm.controls.lastName.valid  && (userForm.controls.lastName.dirty )" class="FormErrorControlMessage">* Please enter a valid name  </b>
                </ion-label>
                <ion-input formControlName="lastName" type="text" value={{userObj.LastName}} [(ngModel)]="userObj.LastName"  [class.invalid]="!userForm.controls.lastName.valid && (userForm.controls.lastName.dirty )"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item color="dark">
                <ion-label position="stacked">Do you want your account to be public?</ion-label>
                <ion-checkbox color="dark" formControlName="publicStatus" checked={{AD.PublicStatus}} [(ngModel)]="userObj.PublicStatus" ></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item color="dark">
                <ion-label  position="stacked">Date of Birth
                  <b *ngIf="!userForm.controls.birthday.valid  && (userForm.controls.birthday.dirty )" class="FormErrorControlMessage">* Please enter a valid name  </b>
                </ion-label>
                <ion-input formControlName="birthday" type="date" value={{userObj.DateOfBirth}}  [(ngModel)]="userObj.DateOfBirth"  [class.invalid]="!userForm.controls.birthday.valid && (userForm.controls.birthday.dirty )"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top:30px;">
            <input type="submit" value="Apply" (click)="UpdateSubmit()">
            
            <ion-button color="dark" id="Btn" routerLink="/profile" routerDirection="root" >
              <ion-icon name="arrow-back"></ion-icon>Back
            </ion-button>
          </ion-row>

         </ion-col>
       </ion-row>
     </ion-grid>
   </form>
  


 </div> <!-- end newUser Div-->

 <form [formGroup]="passForm">
 <div class="newUser">
   <ion-grid style="text-align: center;">
     <ion-row *ngIf="!showChangePassWord">
       <ion-col size="12">
         <ion-button color="primary" style="width:80%;" (click)="showChangePassWord=true">
           Change Password
         </ion-button>
       </ion-col>
     </ion-row>
     <ion-row *ngIf="showChangePassWord">
          <ion-col size="12" class="divHeadSection">
            <ion-label id="divHead" >Change Your Password</ion-label>
          </ion-col>
          <ion-col size="7"  style="margin-top: 20px;margin-left:20%;" >
            <ion-item color="dark">
              <ion-label position="floating">Password
                <p *ngIf="!passForm.controls.password.valid  && (passForm.controls.password.dirty )" class="FormErrorControlMessage">Must be 6 digits long and contain A-Z,a-z,1-9 and a special Character </p>
              </ion-label>
              <ion-input placeholder="Enter new Password" formControlName="password" type="password" [(ngModel)]="passObj.Password" [class.invalid]="!passForm.controls.password.valid && (passForm.controls.password.dirty)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="7" style="margin-bottom: 40px;margin-left:20%;">
            <ion-item color="dark">
              <ion-label position="floating">Confirm Password
                <p class="FormErrorControlMessage" *ngIf="!passForm.controls.confirmPassword.valid  && (passForm.controls.confirmPassword.dirty )">* Passwords do not match</p>
              </ion-label>
              <ion-input placeholder="Confirm new Password" formControlName="confirmPassword" type="password"  [class.invalid]="!passForm.controls.confirmPassword.valid && (passForm.controls.confirmPassword.dirty)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <button id="subBtn"  (click)="PasswordSubmit()">Submit</button>
          </ion-col>
       
     </ion-row>
   </ion-grid>
 </div>
</form>

</ion-content>
