<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >
        {{loginLabel}}
      </ion-button>
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
      </ion-buttons>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background" no-scroll padding >
  
  <div class="container">

    <div id="loginDiv">
      <img src="../assets/images/stacked wit.png" alt="Scubamate">
        <form (submit)="onSubmit(emailInput.value, passInput.value , $event)">
          <ion-label for="emailInput">Email</ion-label> <br>
          <input type="email"  #emailInput required> <br>

          <ion-label for="passInput">Password</ion-label> <br>
          <input type="password" #passInput required><br>

          <input type="submit" value="Login"> <br><br>
          <ion-label>Don't have an account?<a routerLink="/signup"> Sign up here</a> </ion-label>

        </form>
    </div>

  </div>

</ion-content>
