<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()" class="hidden-sm-down" >
        {{loginLabel}}
      </ion-button>
      <ion-menu-button autoHide="false" class="hidden-sm-up"></ion-menu-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" routerLink="/home" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home" class="hidden-sm-down">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore" class="hidden-sm-down" >
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
      </ion-buttons>
      
    </ion-title> 
    <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background" no-scroll padding >
  
  <div class="container">

    <div id="loginDiv">
      <img src="../assets/images/full logo wit.png" alt="Scubamate" style="width:80%;padding:20px;" class="hidden-sm-down">
        <form (keyup.enter)="onSubmit(emailInput.value, passInput.value , $event)" (submit)="onSubmit(emailInput.value, passInput.value , $event)">
          
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item color='dark'>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="text" placeholder="example@mail.com" #emailInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <ion-item color='dark' >
                <ion-row>
                  <ion-col>
                    <ion-label position='stacked'>Password</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row style="width:100%;">
                  <ion-col size='10'>
                    <ion-input type="{{passwordType}}" #passInput></ion-input>
                  </ion-col>
                  <ion-col size='2' class="viewPasswordIcon">
                    <ion-icon name='eye' (click)='togglePassword()'  [color]="showPassword === true ? 'primary' : 'medium'" style='font-size: 20px;'></ion-icon>
                  </ion-col>
                </ion-row>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <input type="submit" value="LOGIN" style="border-radius:3px;"> <br><br>
              <ion-label>Don't have an account?<a routerLink="/signup" style="color:#2A9D8F;"> Register here</a> </ion-label> <br>
              <ion-label style="cursor: pointer;"><a (click)="emailReset()" style="color:#2A9D8F;">Forgot Password?</a></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

        </form>
    </div>

  </div>


  <ion-footer class="ion-no-border" class="hidden-sm-down" style="margin-top:10%;">
    <ion-toolbar color="secondary">
      <ion-label style="float:left;color:#2A9D8F;padding-left:2%;padding-top:16px;">
        <a href="https://github.com/COS301-SE-2020/SCUBAMATE"><ion-icon name="logo-github" color="primary" style="font-size:20px;"></ion-icon></a>
      </ion-label>
      <ion-label style="float:left;color:#2A9D8F;;padding-top:15px;">
        
         &nbsp;|
            <a href="mailto:scubamate.team@gmail.com" style="color:#2A9D8F;">Contact Us</a>
            
              | &#169; <a href="https://cos301capstoneproject.github.io/" style="color:#2A9D8F;">Made by TeamAV.</a> All rights reserved.
      </ion-label>
  
      <a  id="footerIMG" href="https://drive.google.com/drive/folders/1WhfnimgacnHdXswZPeHklnn60Xht9AKG?usp=sharing" style="float:right;width:12%;margin-right:10px;">
        <ion-img  src='../../assets/images/playStore.png' ></ion-img>
      </a>
      <a href="https://www.padi.com/">
        <ion-img src="../../assets/images/padi-logo.png" style="float:right;width:12%;height:80%;margin-right:10px;"></ion-img>
      </a>
    </ion-toolbar>
  </ion-footer>
  
  
  
  <ion-footer class="ion-no-border" class="hidden-sm-up" style="margin-top:10%;">
    <ion-toolbar color="secondary" >
      <ion-label style="float:left;color:#181e21;padding-top:15px;text-align:center;margin-left:10%;">
        
        <a href="https://github.com/COS301-SE-2020/SCUBAMATE"><ion-icon name="logo-github" color="tertiary"></ion-icon></a>
         |
            <a href="mailto:scubamate.team@gmail.com" style="color:#181e21;">Contact Us</a>
            
              | &#169; 
              <a href="https://cos301capstoneproject.github.io/" style="color:#181e21;">Made by TeamAV.</a> 
              <br> 
              All rights reserved. 
      </ion-label>
      
    </ion-toolbar>
  </ion-footer>
  <ion-footer style="background-color:#d66853 ;text-align:center;color:white;padding:10px;">
    Stay home, Stay safe! Visit <a href="https://sacoronavirus.co.za/" style="color:white;"><b>sacoronavirus.co.za</b></a> for official COVID-19 information.
  </ion-footer>
</ion-content>
