<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>


<body>
  

  <ion-header>
    <ul>
     <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
        <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
        <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
        <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
        <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
        <li style="float:left;"><a routerLink="/profile">My Account</a></li>   
  </ul>
  </ion-header>
  
  <div class="container">

    <div id="loginDiv">
      <img src="../assets/images/stacked.png" alt="Scubamate">
        <form (submit)="onSubmit(emailInput.value, passInput.value , $event)">
          <ion-label for="emailInput">Email</ion-label> <br>
          <input type="email"  #emailInput required> <br>

          <ion-label for="passInput">Password</ion-label> <br>
          <input type="password" #passInput required><br>

          <input type="submit" value="Login"> <br><br>
          <ion-label>Don't have an account?<a routerLink="/signup"> Sign up here</a> </ion-label>

        </form>
    </div>

  </div>

  </body>
