<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>
    <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>          
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li> 
      <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>  
</ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >
  
  <table style="margin:auto;"  >
    <tr>
      <th> Dive Date </th>
      <th> Dive Site </th>
      <th> TimeIn </th>
      <th> Buddy </th>
      <th>
        <ion-button id="addBtn" routerLink="/log-dive" style="margin-right:15px;  margin-top: 10px;" >
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </th>
    </tr>
    <tr *ngFor='let d of diveLst' > 
      <td> {{d.DiveDate}}  </td>
      <td> {{d.DiveSite}} </td>
      <td> {{d.TimeIn}}  </td>
      <td> {{d.Buddy}} </td>
      <td> <ion-button color="dark" id="editBtn" (click)="goToEdit(d.DiveID)" ><ion-icon name="pencil-outline"></ion-icon></ion-button></td>
    </tr>
</table>

<div class="TableContainer">
  <ion-grid class="PrivateDiveLogTable">
    <ion-row class="PrivateDiveLogHead" >
      <ion-col size="4" size-md="3" size-lg="3" class="TableHeadText">
        Dive Date
      </ion-col>
      <ion-col size="4" size-md="3" size-lg="3" class="TableHeadText">
        Dive Site
      </ion-col>
      <ion-col size="4" size-md="3" size-lg="3" class="TableHeadText">
        Time In
      </ion-col>
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-button id="addBtn" routerLink="/log-dive" style="margin-right:15px;  margin-top: 10px;" >
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="PrivateDiveLogRows" *ngFor='let d of diveLst'>
      <ion-col size="4" size-md="3" size-lg="3">
        {{d.DiveDate}}
      </ion-col>
      <ion-col size="4" size-md="3" size-lg="3">
        {{d.DiveSite}}
      </ion-col>
      <ion-col size="4" size-md="3" size-lg="3">
        {{d.TimeIn}}
      </ion-col>
      <ion-col size="4" size-md="3" size-lg="3">
        <ion-button color="dark" id="editBtn" (click)="goToEdit(d.DiveID)" >
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>


<div class="PopUpMessageDiv" *ngIf='!showDiveList'>
  <ion-icon name="close" (click)="showDiveList=true"></ion-icon>
  <label class="PopUpMessageMsg">You have no Logged Dives yet<br>
     Start <span routerLink="/log-dive" class="PopUpMessageLink">Logging Dives</span> to view them here.</label>
  
</div>

</ion-content>
