
<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>
<ion-header no-border slot="fixed">
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
 
  <ul>
    <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">  
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li> 
      <li style="float:left;"><a routerLink="/planning">Plan Dive</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li> 
      <ion-progress-bar type="indeterminate" *ngIf="showLoading" ></ion-progress-bar> 
  </ul>

</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >

  <div id="checkListDiv">
    <div class="divHeadSection">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
            <ion-label class="divHead">Manage Your Checklist </ion-label>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
            <ion-button (click)="ShowCurrentList()">
              <ion-icon name="save-outline" ></ion-icon>
            </ion-button>
            <ion-button (click)="showAddInput()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="onChooseDive( diveType.value, $event)">
              <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleCheckList()">
              <ion-icon name="caret-down" *ngIf='!viewChecklist' color="dark"></ion-icon>
              <ion-icon name="caret-up" *ngIf='viewChecklist' color="dark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
    <div class="divBodySection">
     
    

   
      
 
      <ion-grid id="CheckListsInfo" >
        <ion-row>
          <div class="searchableSelect">
            <ion-label class="searchableSelectLabel">Dive Type</ion-label>
            <input list="diveTypes" [(ngModel)]="SearchDiveCheckList" class="searchableSelectInput" (keypress)="divetypeListFinder($event.target.value)" placeholder="Search by a Dive Type" #diveType>
            <datalist id="diveTypes" >
                <option *ngFor='let t of DiveTypeLst' value={{t}}></option>
            </datalist>
          </div>
        </ion-row>
        <ion-row *ngIf="viewAddInput">
          <ion-col size="12" size-md="11" size-lg="11">
            
            <ion-item color="dark">
              <ion-label position="floating">Item to Add</ion-label>
              <ion-input type="text" placeholder="Input additional item"  [(ngModel)]="itemToAdd" ></ion-input>
            </ion-item>
            
          </ion-col>
          <ion-col size="12" size-md="1" size-lg="1">
            <ion-button (click)="addItem()" color="success" style="--border-radius:3%;width:100%;height:75%;">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          <ion-row *ngIf='viewChecklist'><label class="checkListHead">Equipment</label></ion-row>
          <ion-row *ngIf='viewChecklist' class="checkListTableRow">
            <ion-col *ngFor='let e of EquipmentList' size="12" size-md="6" size-lg="6">
              
              <ion-col size="6" > {{ e.Val }}</ion-col>
              <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="e.Checked"></ion-checkbox> </ion-col>
            </ion-col>
          </ion-row>

          <ion-row *ngIf='viewChecklist'><label class="checkListHead">Optional</label></ion-row>
          <ion-row *ngIf='viewChecklist' class="checkListTableRow">
            <ion-col *ngFor='let o of OptionalList' size="12" size-md="6" size-lg="6">
              
              <ion-col size="6"> {{ o.Val }}</ion-col>
              <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="o.Checked"></ion-checkbox> </ion-col>
            </ion-col>
          </ion-row>

          <ion-row *ngIf='viewChecklist && viewPersonalAdded'><label class="checkListHead">Extra</label></ion-row>
          <ion-row *ngIf='viewChecklist && viewPersonalAdded' class="checkListTableRow">
            <ion-col *ngFor='let p of PersonalList' size="12" size-md="6" size-lg="6">
              
              <ion-col size="6"> {{ p.Val }}</ion-col>
              <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="p.Checked"></ion-checkbox> </ion-col>
            </ion-col>
          </ion-row>


      </ion-grid>

   <!-- <ion-grid id="CheckListsInfo">
      <ion-row>
        <ion-col>
          <table *ngIf='viewChecklist'>
            <tr>
              <th>Equipment</th>
            </tr>
            <tr *ngFor='let e of EquipmentList'>
              <td>{{ e }}</td>
              <td><ion-checkbox color="dark"></ion-checkbox></td>
            </tr>
            <tr></tr>
          </table>
        </ion-col>
        <ion-col>
          <table *ngIf='viewChecklist'>
            <tr>
              <th>Optional</th>
            </tr>
            <tr *ngFor='let o of OptionalList' > 
              <td>{{ o }}</td>
              <td><ion-checkbox color="dark"></ion-checkbox></td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    
    </ion-grid>-->
  </div>
  </div>




</ion-content>