
<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>
<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()" class="hidden-sm-down" >
        {{loginLabel}}
      </ion-button>
      <ion-menu-button autoHide="false" class="hidden-sm-up"></ion-menu-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" routerLink="/home" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home" class="hidden-sm-down">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='10' || accountType=='11'" routerLink="/admin-page" class="hidden-sm-down">
          <ion-icon name="podium"></ion-icon>&nbsp; Admin 
        </ion-button>
      </ion-buttons>
      
    </ion-title> 
     <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background" no-scroll padding >


  <ion-radio-group color="dark"  slot="fixed" style="width:20%;margin-top:2%;margin-left:2%;" value="where" class="hidden-sm-down">
    <ion-row>
      <ion-item color="dark" (click)="toggleSideView('SitesNear')" style="width:100%;--border-radius:4px;" >
        <ion-label><ion-icon name="navigate" style="font-size:22px;"></ion-icon>&nbsp;&nbsp;Where To Dive</ion-label>
        <ion-radio  value="where" ></ion-radio>
      </ion-item>
      <ion-item color="dark"  (click)="toggleSideView('SuggestCourses')" style="width:100%;--border-radius:4px;margin-top:8px;">
        <ion-label><ion-icon name="book" style="font-size:22px;"></ion-icon>&nbsp;&nbsp;My Next Course</ion-label>
        <ion-radio value="courses"></ion-radio>
      </ion-item>
      <ion-item color="dark"  (click)="toggleSideView('Checklist')" style="width:100%;--border-radius:4px;margin-top:8px;">
        <ion-label><ion-icon name="clipboard" style="font-size:22px;"></ion-icon>&nbsp;&nbsp;What To Bring</ion-label>
        <ion-radio value="what" ></ion-radio>
      </ion-item>
      <ion-item color="dark"  (click)="toggleSideView('Predict')" style="width:100%;--border-radius:4px;margin-top:8px;">
        <ion-label><ion-icon name="search" style="font-size:22px;"></ion-icon>&nbsp;&nbsp;When To Dive</ion-label>
        <ion-radio value="predict" ></ion-radio>
      </ion-item>
  </ion-row>
  </ion-radio-group> 

  <ion-radio-group color="dark" slot="fixed" class="hidden-sm-up">
    <ion-row>
      <ion-col size="3">
        <ion-item color="dark" (click)="toggleSideView('SitesNear')" style="display:inline;" >
          <ion-label style="font-size:9px;text-align:center;"><ion-icon name="navigate" style="font-size:20px;"></ion-icon><br>Where</ion-label>
          <ion-radio  value="where" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="dark"  (click)="toggleSideView('SuggestCourses')" style="display:inline;">
          <ion-label style="font-size:9px;text-align:center;"><ion-icon name="book" style="font-size:20px;"></ion-icon><br>Courses</ion-label>
          <ion-radio value="centers"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="dark"  (click)="toggleSideView('Checklist')"  style="display:inline;">
          <ion-label style="font-size:9px;text-align:center;"><ion-icon name="clipboard" style="font-size:20px;"></ion-icon><br>Checklist</ion-label>
          <ion-radio value="sites" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="dark"  (click)="toggleSideView('Predict')"  style="display:inline;">
          <ion-label style="font-size:9px;text-align:center;"><ion-icon name="search" style="font-size:20px;"></ion-icon><br>When</ion-label>
          <ion-radio value="predict" ></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>


<ion-grid>
  <ion-row>
    <ion-col offset="2" size="10">

     
      <label class="divHeadTag" *ngIf="sideViewSitesNear &&   showSitesNearYou">Where To Dive</label>
      <div class="hidden-sm-up">
       <div id="SuggestedCoursesDiv" *ngIf="sideViewSitesNear &&   showSitesNearYou" style="padding-bottom: 0px;">
        <div class="divHeadSection">
           <ion-grid>
             <ion-row>
               <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                 <ion-label class="divHead">Dive Sites Near Me</ion-label>
               </ion-col>
               <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
                <ion-button  color='dark' (click)='presentGeneralAlert("Dive Sites Near You", "View a list of sites near you! To view more information on a site click on the name or image of the site.")'>
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-col>
               <ion-col size="12" size-sm="12" size-md="12" size-lg="12" >
                <ion-button (click)="toggleViewMoreSitesNearYou()" class="bigBlueBtn"  *ngIf="viewMoreNearYou">
                  <ion-icon name="caret-up" color="light"></ion-icon>
                  &nbsp; View Less
                </ion-button>
                <ion-button (click)="toggleViewMoreSitesNearYou()" class="bigBlueBtn"  *ngIf="!viewMoreNearYou">
                  <ion-icon name="caret-down" color="light"></ion-icon>
                  &nbsp; View More
                </ion-button>
              </ion-col>
             </ion-row>
           </ion-grid>
        </div>
        <div class="divBodySection" style="padding: 0;margin-left: 0; margin-right: 0;" *ngIf="viewMoreNearYou">
         <ion-grid style="padding: 0;">
           <ion-row *ngFor='let snr of SitesNearYouLst' class="SitesNearRow">
                <ion-col size="12" size-sm="12" size-md="2" size-lg="2" style="padding:0;margin:0;">
                  <img class="cardFeedIMG" (click)="viewDiveSite(snr.Name)" src={{snr.LogoPhoto}} style="height:100%;width:100%;cursor:pointer;" />
                </ion-col>
                <ion-col size="12" size-sm="12" size-md="2" size-lg="2" class="SitesNearLeftCol" style="padding:0;margin:0;">
                  <label class="SitesNearName" (click)="viewDiveSite(snr.Name)" style="cursor:pointer;"> {{snr.Name}} </label> <br>
                  <a href="https://maps.google.com/?q={{snr.Coords}}" class="viewLocationLink"><ion-icon name="location" style="font-size:larger;"></ion-icon> View On Map</a>
              </ion-col>
             <ion-col size="12" size-sm="12" size-md="1" size-lg="1" style="padding:0;margin:0;">
                <label class="SitesNearRating">Rating <br> {{snr.Rating}}  </label>
           </ion-col> 
           <ion-col size="12" size-sm="12" size-md="7" size-lg="7" style="padding:0;margin:0;">
             <label class="SitesNearDesc"> {{snr.Description}}  </label>
         </ion-col> 
           </ion-row>
         </ion-grid>
        </div>
       </div>
      </div>
      <div class="hidden-sm-down">
       <div id="SuggestedCoursesDiv" *ngIf="sideViewSitesNear &&   showSitesNearYou" style="padding-bottom: 0px;">
        <div class="divHeadSection">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                <ion-label class="divHead">Dive Sites Near Me</ion-label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
               <ion-button  color='dark' (click)='presentGeneralAlert("Dive Sites Near You", "View a list of sites near you! To view more information on a site click on the name or image of the site.")'>
                 <ion-icon name="information-circle"></ion-icon>
               </ion-button>
             </ion-col>
            </ion-row>
          </ion-grid>
       </div>
       <ion-grid>
        <ion-row>
          <ion-col *ngFor='let snr of SitesNearYouLst' style="margin:0;" >
            <div class="thecardDC" >
              <div class="thefront">
                <ion-card color="light">
                   
                  <img class="cardFeedIMG" (click)="viewDiveSite(snr.Name)" src={{snr.LogoPhoto}} style="cursor:pointer;"  />
                  <ion-card-content fixed>
                      <ion-card-title fixed>
                        <label class="SitesNearName" (click)="viewDiveSite(snr.Name)" style="cursor:pointer;"> {{snr.Name}} </label> <br>
                        
                      </ion-card-title>
                      <label class="SitesNearRating" style="margin-top:5%;">Rating: {{snr.Rating}} <ion-icon name="star" color="warning"></ion-icon> </label> <br> 
                        <a href="https://maps.google.com/?q={{snr.Coords}}" class="viewLocationLink" style="margin-top:10%;"><ion-icon name="location" style="font-size:larger;"></ion-icon> View On Map</a>
                  </ion-card-content>
                    
                </ion-card>
             </div>
            </div>  
          </ion-col>
      </ion-row>
       </ion-grid>





       </div>
      </div>


      <div class="hidden-sm-up">
       <div id="SuggestedCoursesDiv" *ngIf="sideViewCentreNear &&   showCentreNearYou" style="padding-bottom: 0px;margin-bottom:30px;">
        <div class="divHeadSection">
           <ion-grid>
             <ion-row>
               <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                 <ion-label class="divHead">Dive Centres Near Me</ion-label>
               </ion-col>
               <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
                <ion-button  color='dark' (click)='presentGeneralAlert("Dive Centres Near You", "View a list of centres near you! To view more information on a centre click on the name or image of the centre.")'>
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-col>
             </ion-row>
           </ion-grid>
        </div>
        <div class="divBodySection" style="padding: 0;margin-left: 0; margin-right: 0;">
         <ion-grid style="padding: 0;">
           <ion-row *ngFor='let cnr of CentreNearYouLst' class="SitesNearRow">
                <ion-col size="12" size-sm="12" size-md="3" size-lg="3" style="padding:0;margin:0;">
                  <img class="cardFeedIMG" (click)="ViewMoreCentre(cnr.Name)" src={{cnr.LogoPhoto}} style="height:100%;width:100%;background-color: white;cursor:pointer;" />
                </ion-col>
                <ion-col size="12" size-sm="12" size-md="2" size-lg="2" class="SitesNearLeftCol" style="padding:20px;margin:0;">
                  <label class="SitesNearName" (click)="ViewMoreCentre(cnr.Name)" style="cursor:pointer;"> {{cnr.Name}} </label> <br>
                  <a href="https://maps.google.com/?q={{cnr.Coords}}" class="viewLocationLink"><ion-icon name="location" style="font-size:larger;"></ion-icon> View On Map</a>
              </ion-col>
           <ion-col size="12" size-sm="12" size-md="7" size-lg="7" style="padding:20px;margin:0;">
             <label class="SitesNearDesc"> {{cnr.Description}}  </label>
         </ion-col> 
           </ion-row>
         </ion-grid>
        </div>
       </div>
      </div>
      <div class="hidden-sm-down">
        <div id="SuggestedCoursesDiv" *ngIf="sideViewCentreNear &&   showCentreNearYou" style="padding-bottom: 0px;margin-bottom:30px;">
        <div class="divHeadSection">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                <ion-label class="divHead">Dive Centres Near Me</ion-label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
               <ion-button  color='dark' (click)='presentGeneralAlert("Dive Centres Near You", "View a list of centres near you! To view more information on a centre click on the name or image of the centre.")'>
                 <ion-icon name="information-circle"></ion-icon>
               </ion-button>
             </ion-col>
            </ion-row>
          </ion-grid>
       </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor='let cnr of CentreNearYouLst' style="margin:0;" >
              <div class="thecardDC" >
                <div class="thefront">
                  <ion-card color="light">
                     
                    <img class="cardFeedIMG" (click)="ViewMoreCentre(cnr.Name)" src={{cnr.LogoPhoto}} style="cursor:pointer;"  />
                    <ion-card-content fixed>
                        <ion-card-title fixed>
                          <label class="SitesNearName" (click)="ViewMoreCentre(cnr.Name)" style="cursor:pointer;"> {{cnr.Name}} </label> <br>
                        </ion-card-title>
                           <a href="https://maps.google.com/?q={{cnr.Coords}}" class="viewLocationLink"><ion-icon name="location" style="font-size:larger;margin-top: 10%;"></ion-icon> View On Map</a>
                       </ion-card-content>
                      
                  </ion-card>
               </div>
              </div>  
            </ion-col>
        </ion-row>
         </ion-grid>
      </div>
      </div>
      </div>
    
    
     <!--<div id="SuggestedCoursesDiv" *ngIf="sideViewSuggestCourse &&  showCourses">
       <div class="divHeadSection">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="9" size-lg="9">
                <ion-label class="divHead">Suggested Courses for Me</ion-label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="3" size-lg="3" *ngIf="suggestedCourseFullList.length != 0">
                <ion-button (click)="toggleViewMoreCourses()" class="bigBlueBtn" *ngIf="showCourses && viewCourses">
                  <ion-icon name="caret-up" color="light"></ion-icon>
                  &nbsp; View Less
                </ion-button>
                <ion-button (click)="toggleViewMoreCourses()" class="bigBlueBtn"  *ngIf="showCourses && !viewCourses">
                  <ion-icon name="caret-down" color="light"></ion-icon>
                  &nbsp; View More
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
       </div>
       <div class="divBodySection" style="padding:0;margin:0;" *ngIf="viewCourses">
        <ion-grid style="padding-bottom:0;padding-top:0;">
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="12" size-lg="12" >
              <ion-button (click)="presentSurveyQ1()" class="bigBlueBtn" style="float:right;" >
                <ion-icon name="document-outline"></ion-icon>
                &nbsp; Complete Survey for more Suggestion
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let sc of suggestedCourseFullList ; let i = index" class="SitesNearRow">
               <ion-col size="12" size-sm="12" size-md="2" *ngIf="i%2 == 0" style="padding:0;margin:0;">
                <img class="cardFeedIMG" src="../../assets/images/diving-2.png" style="height:100%;width:100%;" />
               </ion-col>
               <ion-col size="12" size-sm="12" size-md="2" *ngIf="i%2 != 0" style="padding:0;margin:0;">
                <img class="cardFeedIMG" src="../../assets/images/diving-1.png" style="height:100%;width:100%;" />
               </ion-col>
              <ion-col  size="12" size-sm="12" size-md="2"  style="padding:0;margin:0;"> 
                <label class="CourseName">{{sc.Name}}</label>
              </ion-col>
              <ion-col  size="12" size-sm="12" size-md="2" style="padding:0;margin:0;"> 
                <label class="CourseRating"> 
                  {{sc.CourseType}} 
                </label>
            </ion-col>
            <ion-col  size="12" size-sm="12" size-md="6" style="padding:0;margin:0;">
              <label class="SitesNearDesc"> {{sc.Description}} </label>
            </ion-col>
          </ion-row>
        </ion-grid>
       </div>
      </div>

      --> 
      <label class="divHeadTag" *ngIf="sideViewSuggestCourse &&  showCourses">My Next Course</label>
      <div *ngIf="sideViewSuggestCourse &&  showCourses" class="coursesCardDiv">
        <div id="SuggestedCoursesDiv">
          <div class="divHeadSection">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
                  <ion-label class="divHead">Suggested Courses</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
         </div>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="12" size-lg="12" >
                <ion-button (click)="presentSurveyQ1()" class="bigBlueBtn" style="float:right;" >
                  <ion-icon name="document-outline"></ion-icon>
                  &nbsp; Complete Survey for more Suggestion
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4"  *ngFor="let ssc of surveySuggestedCourses" >
                <div class="thecardDC" >
                  <div class="thefront">
                    <ion-card color="dark">
                      <ion-card-content fixed>
                          <ion-card-title fixed color="dark">
                            <label class="SitesNearName" style="cursor:pointer;color:#d66853  ;"> Survey Suggestion </label> <br>
                            <label class="SitesNearName" style="cursor:pointer;"> {{ssc.Name}} </label> <br>
                            <label class="CourseRating" style="font-size:medium;color:#2A9D8F ;">  Type: {{ssc.CourseType}}   </label>
                          </ion-card-title>
                          
                          <label class="SitesNearDesc" style="margin-top:10%;"> {{ssc.Description.substr(0,200)}} </label>
                         </ion-card-content>
                         
                    </ion-card>
                 </div>
                </div>  
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let sc of suggestedCourseFullList">
              <div class="thecardDC" >
                <div class="thefront">
                  <ion-card color="light">
                    <ion-card-content fixed>
                        <ion-card-title fixed color="dark">
                          <label class="SitesNearName" style="cursor:pointer;"> {{sc.Name}} </label> <br>
                          <label class="CourseRating" style="font-size:medium;color:#2A9D8F ;">  Type: {{sc.CourseType}}   </label>
                        </ion-card-title>
                        
                        <label class="SitesNearDesc" style="margin-top:10%;"> {{sc.Description.substr(0,200)}} </label>
                       </ion-card-content>
                       
                  </ion-card>
               </div>
              </div>  
               </ion-col>
            </ion-row>
          </ion-grid>
          </div>
      </div>


      <label class="divHeadTag" *ngIf="sideViewCheckList">What To Bring</label>
      <div id="checkListDiv" *ngIf="sideViewCheckList">
        <div class="divHeadSection">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                <ion-label class="divHead">My Dive Planning Checklist </ion-label> <br>
                <ion-label color='success' >Refine Your Checklist By Providing A Dive Type </ion-label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
                <ion-button  color='dark' (click)='presentGeneralAlert("Checklist", "Generic Checklists are provided on Dive Type Search. Users can add Custom items. Checklists are automatically saved on page close.")'>
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </div>
        <div class="divBodySection">
        
          <ion-grid id="CheckListsInfo" >
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="9" size-lg="10" style="margin:0;padding:0;">
                <div class="searchableSelect">
                  <ion-label class="searchableSelectLabel">Search for a default checklist by Dive Type</ion-label>
                  <input list="diveTypes" [(ngModel)]="SearchDiveCheckList" class="searchableSelectInput" (keypress)="divetypeListFinder()" placeholder="Boat Dive" #diveType>
                  <datalist id="diveTypes" >
                      <option *ngFor='let t of DiveTypeLst' value={{t}}></option>
                  </datalist>
                </div>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="3" size-lg="2" style="margin:0;padding:0;">
                <ion-button  (click)="onChooseDive( diveType.value, $event)" style="--border-radius:0px;width:100%;height:100%;">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!viewAddInput" style="margin-top: 15px; margin-bottom:10px;">
              <ion-col size="12" >
                <ion-button color="tan" (click)="showAddInput()" style="margin:auto;--border-radius:0px;width:100%;height:40px;background-color: #E76F51;">
                  <ion-icon name="add-outline"></ion-icon> &nbsp; Add Your Own Custom Item
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="viewAddInput" style="margin-top: 15px; margin-bottom:10px;">
              <ion-col size="12" size-md="11" size-lg="11" style="margin:0;padding:0;">
                
                <ion-item color="dark">
                  <ion-label position="floating">Custom Item to Add</ion-label>
                  <ion-input type="text" placeholder="Custom Item to Add to Checklist"  [(ngModel)]="itemToAdd" ></ion-input>
                </ion-item>
                
              </ion-col>
              <ion-col size="12" size-md="1" size-lg="1" style="margin:0;padding:0;">
                <ion-button (click)="addItem()" color="success" style="--border-radius:3%;width:100%;height:100%;">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
              <ion-row *ngIf='viewChecklist && EquipmentList.length>0'><label class="checkListHead">Necessary - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist && EquipmentList.length>0' class="checkListTableRow">
                <ion-col *ngFor='let e of EquipmentList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6" > {{ e.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="e.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
              <ion-row *ngIf='viewChecklist && OptionalList.length>0'><label class="checkListHead">Optional - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist && OptionalList.length>0' class="checkListTableRow">
                <ion-col *ngFor='let o of OptionalList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6"> {{ o.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="o.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
              <ion-row *ngIf='viewChecklist && viewPersonalAdded'><label class="checkListHead">Custom - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist && viewPersonalAdded' class="checkListTableRow">
                <ion-col *ngFor='let p of PersonalList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6"> {{ p.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="p.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
    
          </ion-grid>
    
      </div>
      </div>


      <label class="divHeadTag" *ngIf="sideViewPredict">When To Dive</label>
      <div id="SuggestedCoursesDiv" *ngIf="sideViewPredict" >
        <div class="divHeadSection">
           <ion-grid>
             <ion-row>
               <ion-col size="12" size-sm="12" size-md="11" size-lg="11">
                 <ion-label class="divHead">Predict Next Dive Conditions</ion-label>
               </ion-col>
               <ion-col size="12" size-sm="12" size-md="1" size-lg="1">
                <ion-button  color='dark' (click)='presentGeneralAlert("Visibility Prediction", "Poor: 0m - 3m<br> Average: 4m - 6m<br> Good: 7m - 9m<br> Excellent: 10m and greater")'>
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-col>
             </ion-row>
           </ion-grid>
        </div>
        <div class="divBodySection" style="margin:0;">
         <ion-grid>
           <ion-row>
              <ion-label  style="color:#F4A261 ;text-align:center; width:100%; background-color: rgba(24, 30, 33, 0.6); border-radius: 4px; margin-bottom: 10px;padding:7px;" > To predict future dive visibility please provide a Dive Site and a date within 4 days from now </ion-label>
           </ion-row>
           <ion-row>
             <ion-col size="12" size-sm="12" size-md="5" size-lg="5" style="margin:0;padding:0;">
              <ion-item color="dark">
                <ion-label>Dive Site</ion-label>
                <ion-select value="Hotspot" okText="Confirm" cancelText="Cancel" (ionChange)="showPrediction=false" [(ngModel)]="predictObj.DiveSite">
                  <ion-select-option *ngFor='let s of DiveSiteLst' value="{{s}}">{{s}}</ion-select-option>
                </ion-select>
              </ion-item>
             </ion-col>
             <ion-col size="12" size-sm="12" size-md="5" size-lg="5" style="margin:0;padding:0;">
              <ion-item color="dark">
                <ion-label>Date</ion-label>
                <ion-select placeholder="Select a Date" (ionChange)="showPrediction=false"  [(ngModel)]="predictObj.Date" value={{currentDate}}>
                  <ion-select-option *ngFor="let d of lstNextFour" value={{d}}>{{d}}</ion-select-option>
                </ion-select>
              </ion-item>
             </ion-col>
             <ion-col size="12" size-sm="12" size-md="2" size-lg="2" style="margin:0;padding:0;">
                <ion-button (click)="getPrediction()" style="font-size: 14px;margin:0;--border-radius:0 !important;width:100%;">
                  Predict <br>  Visibility
                </ion-button>
             </ion-col>
           </ion-row>
           <ion-row *ngIf="showPrediction" class="showPredictionRow">
              <ion-col size="12" size-sm="12" size-md="4" size-lg='4'>
                  <label class="predictedInfo"> {{predictObj.DiveSite}} </label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="4" size-lg='4'>
                <label class="predictedInfo"> {{predictObj.Date}} </label>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="4" size-lg='4'>
                <label class="predictedInfo" *ngIf='predictedVisibility == "Poor"' class="predictResult" style="color: #2A9D8F ;"> {{predictedVisibility}} </label>
                <label class="predictedInfo" *ngIf='predictedVisibility == "Average"' class="predictResult" style="color: #2A9D8F ;"> {{predictedVisibility}} </label>
                <label class="predictedInfo" *ngIf='predictedVisibility == "Good"' class="predictResult" style="color: #2A9D8F ;"> {{predictedVisibility}} </label>
                <label class="predictedInfo" *ngIf='predictedVisibility == "Excellent"' class="predictResult" style="color: #2A9D8F ;"> {{predictedVisibility}} </label>
              </ion-col>
           </ion-row>
         </ion-grid>
        </div>
       </div>
    
    
   <!--  <div id="checkListDiv" *ngIf="sideViewCheckList">
        <div class="divHeadSection">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
                <ion-label class="divHead">My Dive Planning Checklist </ion-label> <br>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
                <ion-button (click)="saveChecklist()">
                  <ion-icon name="save-outline" ></ion-icon>
                </ion-button>
                <ion-button (click)="showAddInput()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="onChooseDive( diveType.value, $event)">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button (click)="toggleCheckList()">
                  <ion-icon name="caret-down" *ngIf='!viewChecklist' color="dark"></ion-icon>
                  <ion-icon name="caret-up" *ngIf='viewChecklist' color="dark"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </div>
        <div class="divBodySection">
        
          <ion-grid id="CheckListsInfo" >
            <ion-row>
              <div class="searchableSelect">
                <ion-label class="searchableSelectLabel">Search for a checklist by Dive Type</ion-label>
                <input list="diveTypes" [(ngModel)]="SearchDiveCheckList" class="searchableSelectInput" (keypress)="divetypeListFinder()" placeholder="Boat Dive" #diveType>
                <datalist id="diveTypes" >
                    <option *ngFor='let t of DiveTypeLst' value={{t}}></option>
                </datalist>
              </div>
            </ion-row>
            <ion-row *ngIf="viewAddInput">
              <ion-col size="12" size-md="11" size-lg="11">
                
                <ion-item color="dark">
                  <ion-label position="floating">Custom Item to Add</ion-label>
                  <ion-input type="text" placeholder="Custom Item to Add to Checklist"  [(ngModel)]="itemToAdd" ></ion-input>
                </ion-item>
                
              </ion-col>
              <ion-col size="12" size-md="1" size-lg="1">
                <ion-button (click)="addItem()" color="success" style="--border-radius:3%;width:100%;height:75%;">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
              <ion-row *ngIf='viewChecklist'><label class="checkListHead">Necessary - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist' class="checkListTableRow">
                <ion-col *ngFor='let e of EquipmentList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6" > {{ e.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="e.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
              <ion-row *ngIf='viewChecklist'><label class="checkListHead">Optional - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist' class="checkListTableRow">
                <ion-col *ngFor='let o of OptionalList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6"> {{ o.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="o.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
              <ion-row *ngIf='viewChecklist && viewPersonalAdded'><label class="checkListHead">Custom - Equipment</label></ion-row>
              <ion-row *ngIf='viewChecklist && viewPersonalAdded' class="checkListTableRow">
                <ion-col *ngFor='let p of PersonalList' size="12" size-md="6" size-lg="6">
                  
                  <ion-col size="6"> {{ p.Val }}</ion-col>
                  <ion-col size="6" > <ion-checkbox color="dark" [(ngModel)]="p.Checked"></ion-checkbox> </ion-col>
                </ion-col>
              </ion-row>
    
    
          </ion-grid>
    
      </div>
      </div>-->  


    </ion-col> 
  </ion-row>
</ion-grid>



   
  
</ion-content>