$darkBlue : #264653 ;
$lightBlue : #2A9D8F ;
$orange: #F4A261 ; 
$red: #E76F51 ;
$yellow : #E9C46A ;
$inputBackgroundColor: #181e21;

ion-content.background{
    --background: url(../../assets/images/water.jpg) 0 0/100% 100% no-repeat;
  }
  .productHeader {
      --background: transparent;
  }