<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
 <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>    
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">  
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li>   
      <ion-progress-bar type="indeterminate" *ngIf="showLoading" ></ion-progress-bar>   
</ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >
 <div id="newUser" *ngIf="ShowAccountChoice">
  <ion-label id="divHead"> Account Type </ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Choose your Account Type</ion-label>
          <ion-select  #accountType required  (ionChange)="ShowRelatedForm($event.target.value)">
            <ion-select-option value="Diver">Diver</ion-select-option>
            <ion-select-option value="Instructor">Instructor</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div> <!-- End of Account Choice-->

 <div id="newUser" *ngIf="signUpDiver">
    <ion-label id="divHead">Diver Sign Up </ion-label>

    <form (submit)="onSubmitDiver(Qual.value, Spec.value, birthD.value, FirstName.value , LastName.value, public.checked, emailI.value, Password.value, cPassword.value, $event)">
      <div id="userInfo">
        <ion-label class="subLabel"> User Information </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="inputItem">
                <ion-label position="stacked">First Name*</ion-label>
                <ion-input type="text" #FirstName ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Last Name*</ion-label>
                <ion-input type="text" #LastName ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Email*</ion-label>
                <ion-input type="email" #emailI></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Date of birth</ion-label>
                <ion-input type="date" #birthD></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Do you want your dives to be logged publicly?</ion-label>
                <ion-checkbox color="dark" disabled="false" #public ></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Profile Picture</ion-label>
                <ion-input type="file" accept="image/*" (change)="onFileSelected($event)" ></ion-input> <!--removed id-->
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> <!-- end of user Info -->
      <div id="passSetup">
        <ion-label class="subLabel">Password Setup </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Password*</ion-label>
                <ion-input type="password" #Password></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Confirm Password*</ion-label>
                <ion-input type="password" #cPassword></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> <!-- end of passSetup-->
      <div id="diveType">
        <ion-label class="subLabel"> Diver Credentials </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col >
              <div class="searchableSelect">
                <ion-label class="searchableSelectLabel">Qualification</ion-label><br>
                  <input list="diveQ"  placeholder="Insert Your Qualification" #Qual (keypress)="QualificationListFinder($event.target.value)">
                  <datalist id="diveQ" >
                      <option *ngFor='let q of QualificationLst' value={{q}}></option>
                  </datalist>
              </div>
              </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <div class="searchableSelect" >
                <ion-button id="addBtn" (click)="addSpecialisation(Spec.value)" style="margin-right:15px;  margin-top: 10px;" >
                  <ion-icon name="add"></ion-icon>
                </ion-button>
                <ion-label class="searchableSelectLabel">Add All Specialisations</ion-label>
                <input list="diveS"  placeholder="Add Your Specialisation" #Spec (keypress)="SpecializationListFinder($event.target.value)" style="margin-left:60px;width:80%;">
                <datalist id="diveS">
                    <option *ngFor='let s of SpecializationLst' value={{s}}></option>
                </datalist>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showSpecialization">
                  <table>
                    <tr>
                      <th>Specialisation</th>
                    </tr>
                    <tr *ngFor='let us of userSpecialisation'>
                      <td>{{ us }}</td>
                    </tr>
                    <tr></tr>
                  </table>
          </ion-row>
        </ion-grid>
      </div><!-- end of dive credentials-->
      <input type="submit" value="Sign Up">
    </form>

 </div> <!-- end Diver Div-->
 <div id="newUser" *ngIf="signUpInstructor">
  <ion-label id="divHead">Instructor Sign Up </ion-label>

  <form (submit)="onSubmitInstructor(Qual.value,  Cent.value, INum.value, birthD.value, FirstName.value , LastName.value, public.checked, emailI.value, Password.value, cPassword.value, $event)">
    <div id="userInfo">
      <ion-label class="subLabel"> User Information </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">First Name*</ion-label>
              <ion-input type="text" #FirstName ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Last Name*</ion-label>
              <ion-input type="text" #LastName ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Email*</ion-label>
              <ion-input type="email" #emailI></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Date of birth</ion-label>
              <ion-input type="date" #birthD></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Do you want your dives to be logged publicly?</ion-label>
              <ion-checkbox color="dark" disabled="false" #public ></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Profile Picture</ion-label>
              <ion-input type="file" accept="image/*" (change)="onFileSelected($event)" ></ion-input> <!--removed id-->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> <!-- end of user Info -->
    <div id="passSetup">
      <ion-label class="subLabel">Password Setup </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Password*</ion-label>
              <ion-input type="password" #Password></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Confirm Password*</ion-label>
              <ion-input type="password" #cPassword></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> <!-- end of passSetup-->
    <div id="diveType">
      <ion-label class="subLabel"> Instructor Credentials </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col >
            <div class="searchableSelect">
              <ion-label class="searchableSelectLabel">Dive Center</ion-label><br>
                <input list="diveC"  placeholder="Insert Your Dive Center" #Cent (keypress)="CenterListFinder($event.target.value)">
                <datalist id="diveC" >
                    <option *ngFor='let c of CenterLst' value={{c}}></option>
                </datalist>
            </div>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Instructor Number*</ion-label>
                <ion-input type="number" #INum ></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <div class="searchableSelect">
              <ion-label class="searchableSelectLabel">Qualification</ion-label><br>
                <input list="diveQ"  placeholder="Insert Your Qualification" #Qual (keypress)="QualificationListFinder($event.target.value)">
                <datalist id="diveQ" >
                    <option *ngFor='let q of QualificationLst' value={{q}}></option>
                </datalist>
            </div>
            </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <div class="searchableSelect" >
              <ion-button id="addBtn" (click)="addSpecialisation(Spec.value)" style="margin-right:15px;  margin-top: 10px;" >
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-label class="searchableSelectLabel">Add All Specialisations</ion-label>
              <input list="diveS"  placeholder="Add Your Specialisation" #Spec (keypress)="SpecializationListFinder($event.target.value)" style="margin-left:60px;width:80%;">
              <datalist id="diveS">
                  <option *ngFor='let s of SpecializationLst' value={{s}}></option>
              </datalist>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showSpecialization">
                <table>
                  <tr>
                    <th>Specialisation</th>
                  </tr>
                  <tr *ngFor='let us of userSpecialisation'>
                    <td>{{ us }}</td>
                  </tr>
                  <tr></tr>
                </table>
        </ion-row>
       
      </ion-grid>
    </div><!-- end of dive credentials-->
    <input type="submit" value="Sign Up">
  </form>

</div> <!-- end Instructor Div-->
</ion-content>
  
