<ion-header>
  <ion-toolbar>
    <ion-title>temp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen no-scroll padding >

<div id="formSpace">
    <div id="progressBarSpace">
     

      
   <!-- <ion-fab id="firstStep" >
        <ion-fab-button>
          <ion-icon name="person-circle"></ion-icon> 
        </ion-fab-button>
      </ion-fab>

      <ion-fab id="secondStep" >
        <ion-fab-button>
          <ion-icon name="body"></ion-icon> 
        </ion-fab-button>
      </ion-fab>

      <ion-fab  id="thirdStep">
        <ion-fab-button>
          <ion-icon name="star"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab id="forthStep" >
        <ion-fab-button>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>

     -->  
      

      


      <ion-progress-bar value="0.5"></ion-progress-bar>

      <mat-horizontal-stepper>
        <mat-step label="Step 1">
          <p>Put down your phones.</p>
        </mat-step>
        <mat-step label="Step 2" >
          <p>Socialize with each other.</p>
        </mat-step>
        <mat-step label="Step 3">
          <p>You're welcome.</p>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
</div>



</ion-content>
