<ion-header>
  <ion-toolbar>
    <ion-title>temp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen no-scroll padding >

  <form [formGroup]="myForm">
    
    <ion-item >
      <ion-label  position="floating">First Name</ion-label>
      <ion-input formControlName="firstName" type="text" color="Primary"  [(ngModel)]="inputValues.firstName"  [class.invalid]="!myForm.controls.firstName.valid && (myForm.controls.firstName.dirty )"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.firstName.valid  && (myForm.controls.firstName.dirty )">
      <p class="FormErrorControlMessage">Please enter a valid name.</p>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" [class.invalid]="!myForm.controls.lastName.valid && (myForm.controls.age.dirty )"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.lastName.valid  && (myForm.controls.lastName.dirty )">
      <p class="FormErrorControlMessage">Please enter a valid name.</p>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age" type="number" [class.invalid]="!myForm.controls.age.valid && (myForm.controls.age.dirty)"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.age.valid  && (myForm.controls.age.dirty )">
      <p class="FormErrorControlMessage">Please enter a valid age.</p>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"  [class.invalid]="!myForm.controls.email.valid && (myForm.controls.email.dirty)"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty )">
      <p class="FormErrorControlMessage">Please enter a valid Email.</p>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password" type="password"  [class.invalid]="!myForm.controls.password.valid && (myForm.controls.password.dirty)"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.password.valid  && (myForm.controls.password.dirty )">
      <p class="FormErrorControlMessage">Password not Secure. Must be 6 digits long and contain A-Z,a-z,1-9 and a special Character </p>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input formControlName="confirmPassword" type="password"  [class.invalid]="!myForm.controls.confirmPassword.valid && (myForm.controls.confirmPassword.dirty)"></ion-input>
  </ion-item>

  <ion-item *ngIf="!myForm.controls.confirmPassword.valid  && (myForm.controls.confirmPassword.dirty )">
      <p class="FormErrorControlMessage">Passwords do not match</p>
  </ion-item>
    
  <button (click)="onSubmit()">Submit this form</button>
  </form>





</ion-content>
