<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
</head>


<ion-header no-border slot="fixed">
 
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  <ul>
    <li style="float:right;"><a *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li> 
      <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>   
</ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >
  <div >
    <ion-grid id="ProfileInfo" *ngIf='showAD'>
      <ion-row>
        <ion-col id="leftPane" col-4 >
          <div>
              <ion-img src="../assets/images/STDuser.jpg" id="userProfile"></ion-img>
              <ion-label class="infoLabel" id="names" > {{AD.FirstName}}  {{AD.LastName}}</ion-label> <br>
              <ion-button color="dark" id="editBtn" routerLink="/edit-profile" routerDirection="root" ><ion-icon name="pencil-outline"></ion-icon></ion-button>
              
          </div>
        </ion-col>
        <ion-col style="padding-right:0;" >
          <div id="acountInfo1">
            <ion-label class="subLabel"> User Information </ion-label> <br>
            <ion-label class="infoLabel" id="email" >Email: {{AD.Email}} </ion-label> <br>
            <ion-label class="infoLabel" id="birth" >Date of Birth: {{AD.DateOfBirth}} </ion-label> <br>
            <ion-label class="infoLabel" id="status"   >Viewable Status: {{AD.PublicStatus}} </ion-label><br> <br>

            <ion-label class="infoLabel" id="qual" *ngIf='AD.Qualification'>Qualificaton: <br><ion-icon name="play-outline"></ion-icon>{{AD.Qualification}} </ion-label> <br><br>
            <ion-label class="infoLabel" id="spes" *ngIf='AD.Specialisation'>Specialisation: <br> <ion-label class="infoLabel" *ngFor="let s of AD.Specialisation"><ion-icon name="play-outline"></ion-icon> {{s}}<br></ion-label></ion-label>
          </div>
        </ion-col>
        <ion-col col-8 id="acountInfo2" >
          <div>
            <ion-label class="subLabel" > Account Type </ion-label> <br>
            
            <ion-label class="infoLabel" id="accType" >Account Type: {{AD.AccountType}} </ion-label> <br><br>

            </div>
        </ion-col>
      </ion-row>
    </ion-grid> <!-- View Profile -->
  </div>

  <div id="checkListDiv">
    <ion-label class="divHead"> Checklist </ion-label> 
    <ion-button (click)="onChooseDive( diveType.value, $event)">
      <ion-icon name="search"></ion-icon>
    </ion-button><br>

   
      <div class="searchableSelect">
        <ion-label class="searchableSelectLabel">Dive Type</ion-label>
        <input list="diveTypes"  placeholder="Insert A Dive Type" #diveType>
        <datalist id="diveTypes" >
            <option *ngFor='let t of DiveTypeLst' value={{t}}></option>
        </datalist>
      </div>
 

    <ion-grid id="CheckListsInfo">
      <ion-row>
        <ion-col>
          <table *ngIf='viewChecklist'>
            <tr>
              <th>Equipment</th>
            </tr>
            <tr *ngFor='let e of EquipmentList'>
              <td>{{ e }}</td>
              <td><ion-checkbox color="dark"></ion-checkbox></td>
            </tr>
            <tr></tr>
          </table>
        </ion-col>
        <ion-col>
          <table *ngIf='viewChecklist'>
            <tr>
              <th>Optional</th>
            </tr>
            <tr *ngFor='let o of OptionalList' > 
              <td>{{ o }}</td>
              <td><ion-checkbox color="dark"></ion-checkbox></td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>
