<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()" class="hidden-sm-down" >
        {{loginLabel}}
      </ion-button>
      <ion-menu-button autoHide="false" class="hidden-sm-up"></ion-menu-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" routerLink="/home" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home" class="hidden-sm-down">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='10' || accountType=='11'" routerLink="/admin-page" class="hidden-sm-down">
          <ion-icon name="podium"></ion-icon>&nbsp; Admin 
        </ion-button>
      </ion-buttons>
      
    </ion-title> 
     <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="background" no-scroll padding >
  <div *ngIf='showAD'>

    <div id="EmailVerificationDiv" *ngIf='showAccountVerifiedMessage'>
      <ion-icon name="close" (click)="showAccountVerifiedMessage=false"></ion-icon>
      <label id="EmailVerificationMsg">Your email {{AD.Email}} has not yet been verified. <br>
         Click <span (click)="sendEmail()" id="EmailLink">Here</span> to resend email.</label>
      
    </div>

    <ion-grid id="ProfileInfo" *ngIf='showAD'>
      <ion-row>
        <ion-col size="12" size-sm="4" size-md="4" size-lg="4" class="leftPane" style="padding-top:2%;">
          <div>
            <div id="profileSurroundDiv">
              <ion-img src={{AD.ProfilePhoto}} id="userProfile" ></ion-img>
            </div>
              <ion-label class="infoLabel" id="names" > {{AD.FirstName}}  {{AD.LastName}}</ion-label> <br>
              <ion-button color="dark" id="editBtn" routerLink="/edit-profile" routerDirection="root" ><ion-icon name="pencil-outline"></ion-icon></ion-button>
              
          </div>
        </ion-col>
     <ion-col style="padding-right:0;" size="12" size-sm="8" size-md="8" size-lg="8" >
          <div id="acountInfo1">
            <ion-label class="divHead"> Personal Information </ion-label> <br>
            <div class="divBodySection">
              <ion-label class="infoLabel" id="email" >Email: {{AD.Email}} </ion-label> <br>
              <ion-label class="infoLabel" id="instructorNum" *ngIf='AD.InstructorNumber' >Instructor Number: {{AD.InstructorNumber}} </ion-label> <br>
              <ion-label class="infoLabel" id="birth" >Date of Birth: {{AD.DateOfBirth}} </ion-label> <br>
              <ion-label class="infoLabel" id="status"   >Viewable Status: {{AD.PublicStatus}} </ion-label><br>
              <ion-label class="infoLabel" id="accverified">Account Verified:
                 
                 <ion-icon name="close" *ngIf='!AD.AccountVerified'  ></ion-icon>
                 <ion-icon name="checkmark" *ngIf='AD.AccountVerified'></ion-icon>

                </ion-label><br> <br>

            </div>
            </div>
        </ion-col>
        <ion-col col-8 id="acountInfo2" >
          <div>
            </div>
        </ion-col>
        <!--<ion-col  id="acountInfo2" *ngIf='AD.DiveCentre' >
            <ion-img src='../../assets/images/DiveCenters/{{AD.DiveCentre}}.png' class="diveCenterIMG" ></ion-img>
        </ion-col>-->
      </ion-row>
    </ion-grid> <!-- View Profile -->
  </div>

  <div *ngIf="accountType!='11'  ">
  <div id="Credentials" *ngIf='showAD'>
    <div class="divHeadSection">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="8" size-lg="8">
            <ion-label class="divHead" >
              <label *ngIf="accountType == '00'">Diver </label> 
              <label *ngIf="accountType == '01'">Instructor </label>
              <label *ngIf="accountType == '10'">Admin </label>
              <label *ngIf="accountType == '11'">Super Admin </label> 
              Credentials </ion-label>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="2" size-lg="2" *ngIf="accountType=='00'">
            <ion-button color="dark" style="width:100%;--border-radius:0;" (click)="presentAlertRemoveAccount()">
              <ion-icon name="trash-bin"></ion-icon>
              &nbsp; Delete <br>&nbsp; Account
            </ion-button>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4" *ngIf="accountType!='00'">
            <ion-button color="dark" style="width:fit-content;--border-radius:0;" (click)="presentAlertRemoveAccount()">
              <ion-icon name="trash-bin"></ion-icon>
              &nbsp; Delete <br>&nbsp; Account
            </ion-button>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="2" size-lg="2" *ngIf="accountType=='00'">
            <ion-button color="dark" style="width:100%;--border-radius:0;" routerLink="/upgrade-instructor">
              <ion-icon name="arrow-up-outline"></ion-icon>
              &nbsp; Upgrade
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
      <div class="divBodySection">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="4" size-md="4" size-lg="4" class="leftPane"  *ngIf='AD.DiveCentre != undefined'>
               <div>
                  <div id="profileSurroundDiv">
                    <ion-img src={{AD.LogoPhoto}} id="userProfile" ></ion-img>
                  </div>                    
                </div>
            </ion-col>
            
            <ion-col  size="12" size-sm="4" size-md="4" size-lg="4">
              <ion-label class="infoLabel" id="qual" >Completed Courses:</ion-label> <br>

              <ion-col size="12" size-sm="12" size-md="12" size-lg="6" *ngFor="let cc of AD.CompletedCourses">
                <ion-label class="infoLabel" >
                  <ion-icon name="remove-outline"></ion-icon> {{cc}}
                </ion-label><br>
              </ion-col>
            </ion-col>
            
          </ion-row>
        </ion-grid>
    </div>
  </div>
</div>

  <div id="Credentials" *ngIf='accountType=="01"' >
    <div class="divHeadSection">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label class="divHead" >Dives Pending Approval </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="divBodySection">

        <ion-grid id="UnverifiedListsInfo">
          <ion-row class="UnverifiedListHead">
            <ion-col size="8">Dive Log Details</ion-col>
            <ion-col size="4">
              <ion-button (click)="toggleUnverified()">
                <ion-icon name="caret-down" *ngIf='!viewUnverified' color="dark"></ion-icon>
                <ion-icon name="caret-up" *ngIf='viewUnverified' color="dark"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <div *ngIf="viewUnverified">
            <div *ngIf="UnverifiedLst == undefined ">
              <ion-row class="UnverifiedListTableRow">
                <ion-col size="12">
                  No Courses to Verify
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="UnverifiedLst.length != undefined">
              <ion-row *ngFor='let u of UnverifiedLst' class="UnverifiedListTableRow"> 
                <ion-col size="6" size-sm="6" size-md="2" size-lg="2">{{u.DiveDate}}</ion-col>
                <ion-col size="6" size-sm="6" size-md="2" size-lg="2" >{{u.TimeIn}} - {{u.TimeOut}}</ion-col>
                <ion-col size="12" size-sm="12" size-md="3" size-lg="3">
                  {{u.FirstName}} &nbsp; {{u.LastName}}
                </ion-col>
                <ion-col size="6" size-sm="6" size-md="2" size-lg="3">{{u.DiveSite}}</ion-col>
                <ion-col size="6" size-sm="6" size-md="2" size-lg="2">
                  <ion-button (click)="confirmUnverifiedCourse(u.DiveID , u.AccountGuid)">
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-grid>
    </div>
  </div>


  <div *ngIf='showAD' id="Credentials" >
    <div class="divHeadSection">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="8" size-lg="10">
            <ion-label class="divHead" >Achievements</ion-label>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="4" size-lg="2">
            <ion-button  *ngIf="AD.Achievements != undefined  && AD.Achievements.length > 0" (click)="toggleBadgeView()" color='dark' style="width:100%;--border-radius:0;">
              <label *ngIf='!viewBadges' >
                View <br> My Badges
              </label>
              <label  *ngIf='viewBadges'>
                Hide <br> My Badges
              </label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="divBodySection" style="padding:0;">
      
    <ion-grid>
      <ion-row>
        <ion-item color="dark" style="width: 100%;">
        <ion-col size="12" size-sm="12" size-md="7" size-lg="8" style="align-items: center;padding:10px;">
            <div style="margin:auto;text-align:center;">
              <label id="achievmentProgressLabel"> {{AD.GoalProgress}} / {{AD.Goal }} Dives Completed</label>
            </div>
            
            <ion-progress-bar  color="success" value="{{goalPercentage}}" style="--height:10px;margin-bottom: 20px;margin-top: 20px;--buffer-background:#264653;"></ion-progress-bar>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="5" size-lg="4" style="padding:10px;">
            <div class="badgeSurroundDiv">
              <!--<ion-img src={{AD.ProfilePhoto}} class="earnBadge" ></ion-img>-->
              <ion-img src="../../assets/images/badges/get-{{AD.Goal}}.png" class="earnBadge" ></ion-img>
            </div> 
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row *ngIf="AD.Achievements != undefined && viewBadges && AD.Achievements.length > 0"> 
        <ion-col size="12" size-sm="12" size-md="3" size-lg="4" class="leftPaneBadges" style="padding-top:5%;text-align:center;">
          <ion-label class="subLabel" >Earned Badges</ion-label>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="9" size-lg="8">
          <ion-grid style="padding: 0px;">
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor='let b of AD.Achievements' style="margin-top: 7px;margin-bottom:7px;">
                <div class="badgeEarnSurroundDiv">
                  <!--<ion-img src={{AD.ProfilePhoto}} class="earnBadge" alt="{{b}}"></ion-img>-->
                  <ion-img src="../../assets/images/badges/{{b}}.png" class="earnBadge" alt="{{b}}"></ion-img>
                </div> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

      </ion-row>
    </ion-grid>
    
    
    </div>
    
  </div>
  
  

</ion-content>
