<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>
<ion-header no-border slot="fixed" style="margin-bottom: 20px;">
  <ion-toolbar color="dark" class="productHeader" >
    <ion-buttons slot="primary">
      <ion-button routerLink="" *ngIf="loginLabel" (click)="loginClick()" class="hidden-sm-down" >
        {{loginLabel}}
      </ion-button>
      <ion-menu-button autoHide="false" class="hidden-sm-up"></ion-menu-button>
    </ion-buttons>
    <ion-title > 
     <ion-buttons >
      <img src="../assets/images/full logo wit.png" routerLink="/home" alt="Scubamate" id="navLogo" style="height:80%;width:12%;padding-bottom:3px;padding-top:3px;margin-right:10px;"/>
      
        <ion-button routerLink="/home" class="hidden-sm-down">
          <ion-icon name="home" ></ion-icon><label style="padding-top:7px;">&nbsp; Home</label> 
        </ion-button>
        <ion-button routerLink="/explore" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="color-wand-outline"></ion-icon>&nbsp; Explore
        </ion-button>
        <ion-button routerLink="/planning" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="newspaper"></ion-icon>&nbsp; Plan
        </ion-button>
        <ion-button routerLink="/my-dives" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="water"></ion-icon>&nbsp; My Dives
        </ion-button>
        <ion-button routerLink="/profile" class="hidden-sm-down" *ngIf="loginLabel=='Log Out'">
          <ion-icon name="person" ></ion-icon>&nbsp; Profile
        </ion-button>
        <ion-button *ngIf="accountType=='10' || accountType=='11'" routerLink="/admin-page" class="hidden-sm-down">
          <ion-icon name="podium"></ion-icon>&nbsp; Admin 
        </ion-button>
      </ion-buttons>
      
    </ion-title> 
     <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background" no-scroll padding>

  <ion-label class="divHeadTag">Inner Workings of Decision Tree</ion-label>
  <div class="divContainer">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label class="infoLabel">
            Our decision tree uses the 
            <a class="linkLabel" href="https://medium.com/@ODSC/the-complete-guide-to-decision-trees-part-1-aa68b34f476d" >
              ID3 Algorithm 
            </a>          
             and we have used a library called 
             <a class="linkLabel" href="https://www.npmjs.com/package/decision-tree" >
              decision-tree.js
            </a> 
           </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: left;margin-top:20px;">
        <ion-col size="12" size-md="8" size-lg="8" style="text-align: left;">
          <ion-label class="subLabel">
            ID3 Algorithm
           </ion-label> <br><br>
          <ion-label class="infoLabel" style="margin-top:10px;">
            The ID3 Algorithm works using entropy and gain, entropy is the measure of disorder or fluctuations in our training set. 
            ID3 uses the gain, which is the impact each attribute has on the entropy and thus it chooses the attribute with highest gain as the root node.
            Then for the next level it will have nodes for each value of the attribute and if the value doesn’t occur in the training set then the child will be the most frequent label in the set, otherwise it will have a subtree which is generated by calling the ID3 algorithm once more with the root node removed as an attribute option.
            This is all in order to ensure at each level of the tree, the attribute affecting the decision is one which will reduce the possible outcomes the most.
          </ion-label>
        </ion-col>
        <ion-col size="12" size-md="4" size-lg="4">
            <ion-img src="../assets/images/id3.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-label class="divHeadTag">How Does Our Tree Predict Visibility?</ion-label>
  <div class="divContainer">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label class="infoLabel">
            You provide the dive site and date of the dive. 
            We then use the dive site’s coordinates and forecast the weather 
            on the date given using Accuweather’s forecasting and use this to determine visibility.
          </ion-label>
        </ion-col>

      </ion-row>
      <ion-row style="text-align: left;margin-top:20px;">
        <ion-col size="12" size-md="4" size-lg="4">
          <ion-img src="../assets/images/visDiver.jpg"></ion-img>
        </ion-col>
        <ion-col size="12" size-md="8" size-lg="8" style="margin-top:10px;">
            <ion-label class="subLabel" >
            Training Set Used
           </ion-label><br><br>
            <ion-label class="infoLabel">
              Our training set has a base amount of 22 which we got from diveboard and additionally we will add the total amount of dives we have from our own users which will increase as more people dive.
              The reason for the base amount being 22 is mostly due to a lack of data but also in the interest of making an accurate decision tree we only used dives from the past 3 years in order to try account
               for climate change and the fluctuations that come with that.
            </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: left;margin-top:30px;">
        <ion-col size="12" size-md="8" size-lg="8" style="margin-top:10px;">
          <ion-label class="subLabel" >
            How We Chose Attributes
           </ion-label> <br><br>
            <ion-label class="infoLabel">
              The attributes we use is the Hours of Sun, which is the attribute with the highest gain as it affects whether the sunlight penetrates the ocean water with enough intensity to improve the visibility or not. 
              If the area is cloudy the hours of sun is less and naturally this makes visibility poor.
              Other factors include, 
              Probability of Precipitation, which would affect the visibility as rain would make it a lot harder to see underwater than if there was no rain,
              The Maximum and Minimum temperatures, which have an impact as the oxygen solubility in water increases as temperatures decrease.
              So, if the water is warm then there is less oxygen as it will disperse just like how air expels from a kettle as the water inside gets hotter.
              With less oxygen in the water there is less nutrient content and sea life such as phytoplankton breed less so the visibility improves.
              However if the water is cold then the water is more oxygenated and thus is more nutrient rich which then makes visibility poor as phytoplankton and other forms of underwater sea life will breed more rapidly and obstruct your view.
              We arrived at these attributes through trial and error, initially we spoke to our client who is a scuba diver and read through online forums where divers discuss what affects visibility from their experiences of diving. We then used the most frequently mentioned factors to create the tree.
               Then from this we pruned the tree by removing those factors at the bottom of the tree which seemed to have less of an impact and rechecked the accuracy against the training set. The resulting decision tree was very much inline with what we read on the forums.

            </ion-label>
        </ion-col>
        <ion-col size="12" size-md="4" size-lg="4">
          <ion-img src="../assets/images/visCaveDive.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: left;margin-top:30px;margin-bottom:40px;">
        <ion-col size="12" size-md="4" size-lg="4">
          <ion-img src="../assets/images/visDarkFish.jpg"></ion-img>
        </ion-col>
        <ion-col size="12" size-md="8" size-lg="8" style="margin-top:10px;">
          <ion-label class="subLabel" >
            Testing Set
           </ion-label> <br><br>
            <ion-label class="infoLabel">
              Our testing set has an accuracy of 67% which can be improved as users use our site and this is a big improvement to the 25% accuracy of the neural network. 
              We tried to do more pruning but this made the accuracy dip to 50%.
              Our decision tree has a depth of 4, and thus is quite shallow which is optimal.
              After a long struggle to get data to train our decision tree, we are more than happy with the reasonable accuracy it currently shows but we know this can be expanded upon once our 
              application gets more dive data from our users. This is because newer weather information can provide better accuracy due to the fluctuations in weather behavior due to climate change.
            </ion-label>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>


 <ion-label class="divHeadTag">Our Decision Tree Visualization</ion-label>
  <div class="divContainer" style="margin-bottom:60px;">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          
            <ion-img src="../assets/images/tree.png" style="background-color:  rgba( 42, 157, 143, 0.8) ;"></ion-img>
 
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:10px;">
        <a href="../assets/images/tree.svg" download #yoclickme></a> 
        <ion-button color="dark" (click)="yoclickme.click()" style="width:100%;margin:auto;"> Download </ion-button>
      </ion-row>
    </ion-grid>
  </div> 



</ion-content>
