/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$darkBlue : #264653 ;
$lightBlue : #2A9D8F ;
$orange: #F4A261 ; 
$red: #E76F51 ;
$yellow : #E9C46A ;
$aquaBlue: #00A896 ;


.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }


}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }

  #navLogo{
    width: 70% !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.my-custom-class .alert-wrapper{
  --min-width: 450px !important;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 3%;
    overflow: hidden;
    background-color: #264653;
    font-size: 20px ;

    li {
      float: right;
      font-family: 'Barlow Semi Condensed', sans-serif;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      
      }
    }

    

    li a:hover {
      padding: 12.5px 16px;
      background-color: #203d47;
      color: #2A9D8F ;
      font-weight: bold;
      text-decoration: none;
      border-bottom-style: solid;
      border-bottom-color:  #2A9D8F ;
      border-bottom-width: 3px  ;
    }

    #navLogo{
      width:12%;
      height: 100%;
      float:left;
      padding-left: 14px;
      padding-top: 10px;
    }

  }

  //Lookahead Input Elements
  .searchableSelect{
    background-color: white;
    border-radius: 1px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
  
    input{
        width: 100%;
        margin: auto;
        border: none;
        font-size: medium;
    }
  
  }
  
  .searchableSelectLabel{
    font-size: small;
  }
  
  
  
  
  
  
  

  