<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>
<ion-header no-border slot="fixed">
  
</ion-header>
<ion-toolbar class="productHeader" transparent slot="fixed">
  
  <ul>
    <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
    <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
    <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">  
    <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
      <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
      <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
      <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
      <li style="float:left;"><a routerLink="/profile">My Account</a></li>  
      <li style="float:left;"><a routerLink="/temp">Temp</a></li> 
  </ul>
</ion-toolbar>

<ion-content fullscreen class="background" no-scroll padding >
  
  <div id="container">
    <div id="homeSticker" class="table">
      <div class="row">
          <div class="col-4 col-md-4">
            <img src="../assets/images/stacked wit.png" alt="Scubamate">
          </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <label id="about">About Us</label><br>
              <label id="aboutInfo">Scubamate is a scuba diving companion app,
                                   designed to aid divers, and diving instructors with administrative tasks,
                                   such as checking weather information, logging dives, and planning diving trips.

              </label>
            </div>
            <div class="row">
                <button  class="orangeButton" style="margin-left:5%;" routerLink="/signup">Sign Up <span></span></button>
            </div>
          </div>
      </div>
  </div>

  <!--<div class="tableContainer">
    <table id="feed"  >
      <tr>
        <th> Dive Sites </th>
      </tr>
      <tr *ngFor='let d of siteLst'> 
        <td> {{d}} </td>
      </tr>
  </table>
  </div> -->

  </div>
 
</ion-content>