$darkBlue : #264653 ;
$lightBlue : #2A9D8F ;
$orange: #F4A261 ; 
$red: #E76F51 ;
$yellow : #E9C46A ;
$inputBackgroundColor: #181e21;

.readOnlyInputArea{
    color: gray;
}

.searchableSelect{
    background-color: white;
    border-radius: 1px;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height:100%;

    input{
        width: 100%;
        margin: auto;
        border: none;
        font-size: medium;
    }

}

.searchableSelectLabel{
    font-size: small;
}

ion-content.background{
  --background: url(../../assets/images/water.jpg) 0 0/100% 100% no-repeat;
}
.productHeader {
    --background: transparent;
}

#newDiveDiv{
    background-color: rgba(38, 70, 83, 0.4);
    width: 70%;
    margin: auto;
    border-bottom: solid white 0.5px;
    border-top: solid white 0.5px;
    text-align: center;
    padding-bottom: 40px ;
    margin-bottom: 50px;


    #divHead{
        font-size:  30px ;
        font-family: 'Righteous';
        display: swap ;
        color: white;
        margin-bottom: 20px;
    }

   .subLabel{
    font-size:  20px ;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    border-bottom: solid white 0.5px;
    border-top: solid white 0.5px;
   }



}

#editDiveDiv{
    background-color: rgba(38, 70, 83, 0.4);
    width: 70%;
    margin: auto;
    border-bottom: solid white 0.5px;
    border-top: solid white 0.5px;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;

    input[type=submit]{
        margin-top: 40px;
        margin-bottom: 50px;
        width: 50%;
        background-color: #F4A261;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        padding: 5px;
        margin:auto;
      }
    
       input[type=submit]:hover{
        background-color: #E76F51 ;
        font-family: 'Righteous';
        display: swap ;
      }
}

.rightPane{
    padding: 2%;
    text-align: center;
}

.leftPane{
    background-color: rgba(38, 70, 83, 0.9);
    height: inherit  ;
    margin:0;
    text-align: center;
    padding-bottom: 4%;
    padding-top:3%;

    #siteSurroundDiv{
        width:230px;
        height:230px;
        padding:0;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 3%;
        border-radius: 100% !important;
        overflow: hidden;
        background-color:  rgba(24, 30, 33, 0.4) ;
        text-align: center;
    }

    #siteProfile{
        width:200px;
        height:200px;
        padding:0;
        margin: auto;
        margin-top:7%;
        margin-bottom:7%;
        border-radius: 100% !important;
        overflow: hidden;
          
    }

}


#divHead{
    font-size:  30px ;
    font-family: 'Righteous';
    display: swap ;
    color: white;
    margin-bottom: 20px;
}

.subLabel{
font-size:  20px ;
font-family: 'Barlow Semi Condensed', sans-serif;
color: white;
border-bottom: solid white 0.5px;
border-top: solid white 0.5px;
}

.divSubHead{
    font-size:  25px ;
    font-family: 'Righteous';
    display: swap ;
    color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px; 
  }
  
  .divHeadSection{
    background-color: rgba(38, 70, 83, 0.9);
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .divBodySection{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .FormErrorControlMessage{
    color: #ff5b71 ;
  }

  .searchableSelect{
    background-color: #222428 ;
  
  
  }
  
  .searchableSelectInput{
    margin-top:10px;
    width:100%;
    background-color: #222428 ;
    color:white;
  }
  
  .searchableSelectLabel{
    color: white;
    font-size: large;
    margin: auto;
  }

  ion-col{
      padding:0;
      text-align: center;
  }

  ion-row{
      text-align: center;
  }

  .divHead2{
    font-size:  30px ;
    font-family: 'Righteous';
    display: swap ;
    color: white;
    margin-bottom: 20px;
    border-bottom: solid white 0.5px;
    border-top: solid white 0.5px;
    text-align: center;
  }

  .infoLabel{
    font-size:  18px ;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
  }