  <head>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  
  </head>
  
  <ion-header no-border slot="fixed">
   
  </ion-header>
  <ion-toolbar class="productHeader" transparent slot="fixed">
    <ul>
      <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
      <img src="../assets/images/full logo wit.png" alt="Scubamate" id="navLogo">  
      <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
        <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
        <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
        <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
        <li style="float:left;"><a routerLink="/profile">My Account</a></li> 
        <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>   
    </ul>
  </ion-toolbar>
  
  <ion-content fullscreen class="background" no-scroll padding >
   
    <form [formGroup]="diveForm">

    <div >
      
      <ion-grid id="editDiveDiv" *ngIf="showUser">
        <ion-row>
          <ion-col size="4" class="leftPane">
            <label id="divHead">{{CurrentDive.DiveSite}}</label> 
              <div id="siteSurroundDiv">
                 <img id="siteProfile" src="../../assets/images/DiveSites/{{CurrentDive.DiveSite}}.jpg" alt="../../assets/images/waves.jpg">
              </div>
              
              <label class="subLabel">{{CurrentDive.DiveTypeLink}}</label><br>
              <label class="infoLabel">{{CurrentDive.DiveDate}}</label> <br>
              <label class="infoLabel">{{CurrentDive.TimeIn}} - {{CurrentDive.TimeOut}}</label> <br>
          </ion-col>
          <ion-col size="7" class="rightPane">
            
                <ion-row style="padding-bottom:10px;">
                  <ion-col>
                    <ion-label class="divHead2">Edit Dive Information</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="searchableSelect">
                      <ion-label class="searchableSelectLabel">Buddy</ion-label>
                      <input list="buddylst" formControlName="Buddy" value={{diveObj.Buddy}} class="searchableSelectInput" [(ngModel)]="diveObj.Buddy" placeholder="Insert Buddy" (keypress)="buddyListFinder($event.target.value)" #bud>
                      <datalist id="buddylst" >
                          <option *ngFor='let b of BuddyLst' value={{b}}></option>
                      </datalist>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item color="dark">
                      <ion-label position="stacked">Do you want this dive to be logged publicly?</ion-label>
                      <ion-checkbox color="dark"  #public formControlName="DivePublicStatus" checked={{diveObj.DivePublicStatus}}  [(ngModel)]="diveObj.DivePublicStatus"  [class.invalid]="!diveForm.controls.DivePublicStatus.valid && (diveForm.controls.DivePublicStatus.dirty )" ></ion-checkbox>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item color="dark">
                      <ion-label position="floating">Dive Description</ion-label>
                      <ion-textarea #desc formControlName="Description" value={{diveObj.Description}} [(ngModel)]="diveObj.Description"  [class.invalid]="!diveForm.controls.Description.valid && (diveForm.controls.Description.dirty )"></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row style="padding-top:30px;">
                  <input type="submit" value="Apply" (click)="UpdateDiveSubmit()" >
                </ion-row>
              
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </div>
</form>

  
  </ion-content>


