  <head>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  
  </head>
  
  <ion-header no-border slot="fixed">
   
  </ion-header>
  <ion-toolbar class="productHeader" transparent slot="fixed">
    <ul>
      <li style="float:right;"><a routerLink="" *ngIf="loginLabel" (click)="loginClick()"  >{{loginLabel}}</a></li>
      <li style="margin-top:5px; margin-bottom:5px;right:0;float:right;"><ion-searchbar animated></ion-searchbar></li>        
        <li style="float:left;margin-left:20px;"><a routerLink="/home" >Home</a></li>  
        <li style="float:left;"><a routerLink="/explore">Explore</a></li>  
        <li style="float:left;"><a routerLink="/weather">Weather</a></li> 
        <li style="float:left;"><a routerLink="/my-dives">My Dives</a></li>
        <li style="float:left;"><a routerLink="/profile">My Account</a></li> 
        <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>   
    </ul>
  </ion-toolbar>
  
  <ion-content fullscreen class="background" no-scroll padding >
   
    <div id="newDiveDiv">
      <ion-label id="divHead">Edit Dive Information</ion-label>
  
      <form (submit)="onSubmit(desc.value, bud.value, public.checked ,   $event)">
      <div id="locationInfo">
        <ion-label class="subLabel"> Dive Location </ion-label>
        <ion-grid>
          <ion-row >
            <ion-col >
              <div class="searchableSelect">
                <ion-label class="searchableSelectLabel" class="readOnlyInputArea" >Dive Site</ion-label><br>
                  <input list="diveSites" class="readOnlyInputArea" placeholder="Insert A Dive Site" value={{CurrentDive.DiveSite}} readonly>
              </div>
              </ion-col>
              <ion-col >
              <div class="searchableSelect">
                <ion-label class="searchableSelectLabel" class="readOnlyInputArea">Dive Type</ion-label>
                <input list="diveTypes" class="readOnlyInputArea" placeholder="Insert A Dive Type" value={{CurrentDive.DiveTypeLink}} readonly>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div id="dateTimeDive">
        <ion-label class="subLabel"> Date And Time </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" class="readOnlyInputArea" >Date of Dive*</ion-label>
                <ion-input type="date" #dateOf class="readOnlyInputArea" value={{CurrentDive.DiveDate}} readonly ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" class="readOnlyInputArea">Time In*</ion-label>
                <ion-input type="time" class="readOnlyInputArea" #timeIn value={{CurrentDive.TimeIn}} readonly ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" class="readOnlyInputArea" >Time Out*</ion-label>
                <ion-input type="time" class="readOnlyInputArea" #timeOut value={{CurrentDive.TimeOut}} readonly></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> <!-- end of dateTimeDive -->
      <div id="conditions">
        <ion-label class="subLabel">Temperature (°C)</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" class="readOnlyInputArea">Air Temperature</ion-label>
                <ion-input type="number" class="readOnlyInputArea" #aTemp value={{CurrentDive.AirTemp}} readonly></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating" class="readOnlyInputArea" >Surface Temperature</ion-label>
                <ion-input type="number" class="readOnlyInputArea" #sTemp value={{CurrentDive.SurfaceTemp}} readonly></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="readOnlyInputArea">Bottom Temperature</ion-label>
              <ion-input type="number" class="readOnlyInputArea" #bTemp value={{CurrentDive.BottomTemp}} readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        </ion-grid>
      </div> <!-- end of conditions-->
      <div id="diveDetails">
        <ion-label class="subLabel"> Dive Details </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="searchableSelect">
                <ion-label class="searchableSelectLabel"  >Buddy</ion-label>
                <input list="buddylst" #bud value={{CurrentDive.Buddy}} placeholder="Insert Buddy" (keypress)="buddyListFinder($event.target.value)">
                <datalist id="buddylst" >
                    <option *ngFor='let b of BuddyLst' value={{b}}></option>
                </datalist>
              </div>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Do you want your dives to be logged publicly?</ion-label>
                <ion-checkbox color="dark"  #public checked={{CurrentDive.DivePublicStatus}} ></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" class="readOnlyInputArea">Visibility (m)</ion-label>
                <ion-input type="string" #vis class="readOnlyInputArea" value={{CurrentDive.Visibility}} readonly></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating" class="readOnlyInputArea">Depth (m)</ion-label>
                <ion-input type="string" class="readOnlyInputArea" #dep value={{CurrentDive.Depth}} readonly></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Dive Description</ion-label>
                <ion-textarea #desc value={{CurrentDive.Description}}></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> <!-- end of diveDetails-->
     
      <input type="submit" value="Apply">
  
      </form>
    </div>  <!--End of newDiveDiv -->
  
  </ion-content>


